<div class="additional-foreign-key-container">
    <input type="hidden" class="display-value-property" th:value="${headerField.foreignKeyDisplayValueProperty}"  />
    <input type="hidden" class="listgrid-criteria-input value"
           th:attr="data-name=${headerField.name}, data-onchangetrigger=${headerField.onChangeTrigger}" />
        
    <div class="foreign-key-value-container">
        <span
            class="display-value read-only"
            th:attr="data-select-url=@{${listGrid.path + '/' + headerField.owningEntityClass + '/' + headerField.name + '/select'}}"
            th:text="${headerField.displayValue}" />
        
        <button class="to-one-lookup tiny radius dark button hover-cursor"
            type="button" th:inline="text"
            th:attr="data-select-url=@{${listGrid.path + '/' + headerField.owningEntityClass + '/' + headerField.name + '/select'}}">
            <i class="icon-search"></i>&nbsp;[[#{Lookup}]]
        </button>
    </div>
</div>