<div class="datepicker-container">
    <input th:attr="data-name=${headerField.name}"
           class="listgrid-criteria-input datepicker"
           type="text"
           th:attr="placeholder=#{Start_Date}"/>
    <i class="icon-calendar"></i>
</div>
<br />
<div class="datepicker-container">
    <input th:attr="data-name=${headerField.name}"
           class="listgrid-criteria-input datepicker"
           type="text"
           th:attr="placeholder=#{End_Date}"/>
    <i class="icon-calendar"></i>
</div>