<div class="datepicker-container">
    <input th:attr="data-name=${'criteria[' + headerFieldStat.index  + '].filterValues'}"
           class="listgrid-criteria-input datepicker"
           type="text"
           placeholder="Start Date"/>
    <i class="icon-calendar"></i>
</div>
<br />
<div class="datepicker-container">
    <input th:attr="data-name=${'criteria[' + headerFieldStat.index  + '].filterValues'}"
           class="listgrid-criteria-input datepicker"
           type="text"
           placeholder="End Date"/>
    <i class="icon-calendar"></i>
</div>