<div class="range-input-container">
    <input type="hidden" class="is-numeric" value="true" />
    <input type="hidden" class="listgrid-criteria-input" th:attr="data-name=${fieldName}" />
    
    <div class="specific-input">
        <span class="filter-heading" th:text="#{numericInput.specificInputFilter}" ></span>
        <br />
    
        <input class="listgrid-criteria-input-range money range-single"
               type="text" />
    </div>
    
    <div class="range-input hidden">
        <span class="filter-heading" th:text="#{numericInput.rangeInputFilter}" ></span>
        <br />
    
        <input class="listgrid-criteria-input-range money range range-low"
               style="margin-right: 7px;"
               type="text" />
    
        <span th:remove="tag" th:text="#{numericInput.rangeSeparator}" />
    
        <input class="listgrid-criteria-input-range money range range-high"
               style="margin-left: 4px;"
               type="text" />
    
    </div>
</div>