<div class="range-input-container">
    <input type="hidden" class="is-numeric" value="true" />
    <input type="hidden" class="listgrid-criteria-input" th:attr="data-name=${fieldName}" />
    
    <div class="specific-input">
        <a class="numeric-range-toggle" href="" th:text="#{numericInput.switchToRange}" />
        <br />
    
        <input class="listgrid-criteria-input-range money range-single"
               type="number"
               step=".01" />
    </div>
    
    <div class="range-input hidden">
        <a class="numeric-range-toggle" href="" th:text="#{numericInput.switchToSpecific}" />
        <br />
    
        <input class="listgrid-criteria-input-range money range range-low"
               style="margin-right: 7px;"
               type="number"
               step=".01" />
    
        <span th:remove="tag" th:text="#{numericInput.rangeSeparator}" />
    
        <input class="listgrid-criteria-input-range money range range-high"
               style="margin-left: 4px;"
               type="number"
               step=".01" />
    
    </div>
</div>