#header {
	background: #e20;
	position: relative;
}

#header .logo {
	margin: 14px;
}

#searchBar {
	position: absolute;
	bottom: 14px;
	right: 14px;
}

ul#userNav {
	margin:0;
	padding:0;
	position: absolute;
	right: 6px;
	top: 14px;
}

ul#userNav li {
	list-style: none;
	float: left;
	border-right:1px solid #fff;
}
ul#userNav li.last {
	border-right:0;
}

ul#userNav li a {
	color:#fff;
	padding:4px 8px;
	font-weight:bold;
}

ul#primaryNav {
	margin: 0;
	padding: 0;
	font-family: tahoma, sans-serif;
	font-size: 13px;
	background-color: #eee;
}

ul#primaryNav li {
	list-style: none;
	float: left;
}

ul#primaryNav li a {
	cursor: pointer;
	background-color: #eee;
	color: #666;
	text-decoration: none;
	line-height: 22px;
	display: block;
	padding: 5px 12px 6px;
	text-transform: uppercase;
}

ul#primaryNav li a:hover {
	background-color: #666;
	color: #fff;
}

ul#primaryNav li a.active {
	background: #fff url("../images/navGradientGrey.gif") repeat-x;
	color: #000;
	border-top: 1px solid #c95d00;
	border-right: 1px solid #c95d00;
	border-left: 1px solid #c95d00;
	border-bottom: 1px solid #969696;
	padding: 4px 7px 5px;
	margin: 0;
}

ul#primaryNav li a.active:hover {
	background: #fff;
	color: #000;
}