/* Product Styles */

.relatedProdText {
	font-size: 9px;
}

.relatedProdImage {
	float:left;
}

.productUpSale {
	margin-bottom: 10px;
}

.relatedProd {
	margin-bottom: 15px;
}

h3.relatedProd {
	background-color:#EE2200;
	font-size:11px;
	padding:5px 10px;
	color: #FFFFFF;
}

.productContainer {
	margin-top: 15px;
	margin-bottom: 10px;
}

.productImage {
	text-align: center;
}

.productRightCol {
	float: right;
	border-style: dashed;
	border-color: #EE2200;
	border-left-width: 1px;
	padding-left: 10px;
}

.productSummaryTop {
	border-style: dashed;
	margin-bottom: 10px;
	border-color: #EE2200;
	border-bottom-width: 1px;
	padding-bottom: 5px;
}

.productPrice {
	font-size: 14px; 
}