
#searchFilter {
	background-color: #E5E5E5 ;
	float:left;
	width: 260px;
	margin-right: 20px;
	padding: 10px;
	margin-bottom:10px;
}

#searchResults {
	float: left;
	width: 650px;
}

#searchProduct {
	float:left;
	
}

.searchFilter-defaultCategory_id li,
.searchFilter-manufacturer li
{
	
	list-style-type: none;
}

.searchFilter-defaultCategory_idCheckbox,
.searchFilter-manufacturerCheckbox
{
	display:none;
}

.searchFilterDisabledSelect {
	color:#AAAAAA;
}

.grayedOut {
	position:absolute;
	overflow:hidden;
	width:inherit;
	height:100%;
	background-color:#FFFFFF;
	opacity:0.8;
	MozOpacity:0.8;
	zIndex:50;
	filter:alpha(opacity=80);
	text-align:center;
}

.overlay {
	position:absolute;
	text-align:center;
}

#min-skus_0__salePrice, #max-skus_0__salePrice {
	border:0;
	background-color:#E5E5E5;
	font-weight:bold;
	width:60px;
}