<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Framework -->
	<!-- Catalog -->
	<bean id="basePriceDao" class="org.broadleafcommerce.catalog.dao.BasePriceDaoJpa">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="entityConfiguration" ref="entityConfiguration"/>
	</bean>

<!--
	<bean name="catalogServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="target" ref="catalogService"/>
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
-->
	<bean id="catalogService" class="org.broadleafcommerce.catalog.service.CatalogServiceImpl">
		<property name="categoryDao" ref="categoryDao"/>
		<property name="productDao" ref="productDao"/>
		<property name="skuDao" ref="skuDao"/>
	</bean>
	<bean id="categoryDao" class="org.broadleafcommerce.catalog.dao.CategoryDaoJpa">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="entityConfiguration" ref="entityConfiguration"/>
	</bean>

<!--
	<bean id="itemAttributeDao" class="org.broadleafcommerce.catalog.dao.ItemAttributeDaoJpa"/>
-->

	<bean id="productDao" class="org.broadleafcommerce.catalog.dao.ProductDaoJpa">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="entityConfiguration" ref="entityConfiguration"/>
	</bean>

	<bean id="productListEntryDao" class="org.broadleafcommerce.catalog.dao.ProductListEntryDaoJpa"/>

	<bean id="productListDao" class="org.broadleafcommerce.catalog.dao.ProductListDaoJpa"/>

	<bean id="skuDao" class="org.broadleafcommerce.catalog.dao.SkuDaoJpa">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="entityConfiguration" ref="entityConfiguration"/>
	</bean>

	<!-- Order -->
	<bean id="orderService" class="org.broadleafcommerce.order.service.OrderServiceImpl"/>
	<bean id="orderDao" class="org.broadleafcommerce.order.dao.OrderDaoJpa"/>

	<bean id="orderItemDao" class="org.broadleafcommerce.order.dao.OrderItemDaoJpa"/>

	<bean id="paymentInfoDao" class="org.broadleafcommerce.order.dao.PaymentInfoDaoJpa"/>

	<bean id="fullfillmentGroupDao" class="org.broadleafcommerce.order.dao.FullfillmentGroupDaoJpa"/>

	<!-- Rules -->
	<bean id="ruleBaseService" class="org.broadleafcommerce.rules.service.RuleBaseServiceImpl"/>

	<bean id="ruleService" class="org.broadleafcommerce.rules.service.RuleServiceImpl"/>
	<bean id="ruleDao" class="org.broadleafcommerce.rules.dao.RuleDaoJpa"/>

	<!-- Search -->
	<bean id="searchService" class="org.broadleafcommerce.search.service.SearchServiceImpl">
		<property name="catalogService" ref="catalogService"/>
	</bean>


	<!-- Profile -->
	<!-- Profile -->
	<bean id="addressService" class="org.broadleafcommerce.profile.service.AddressServiceImpl">
		<property name="addressDao" ref="addressDao"/>
	</bean>
	<bean id="addressDao" class="org.broadleafcommerce.profile.dao.AddressDaoJpa">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>

	<bean id="addressStandardizationService" class="org.broadleafcommerce.profile.service.AddressStandardizationServiceImpl"/>

	<bean id="contactInfoService" class="org.broadleafcommerce.profile.service.ContactInfoServiceImpl">
		<property name="contactInfoDao" ref="contactInfoDao"/>
	</bean>
	<bean id="contactInfoDao" class="org.broadleafcommerce.profile.dao.ContactInfoDaoJpa">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="entityConfiguration" ref="entityConfiguration"/>
	</bean>

<!--
	<bean name="customerServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="target" ref="customerService"/>
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributes">
			<props>
				<prop key="saveCustomer">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
-->
	<bean id="customerService" class="org.broadleafcommerce.profile.service.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao"/>
		<property name="passwordEncoder" ref="passwordEncoder"/>
	</bean>
	<bean id="customerDao" class="org.broadleafcommerce.profile.dao.CustomerDaoJpa">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="entityConfiguration" ref="entityConfiguration"/>
	</bean>

	<bean id="emailService" class="org.broadleafcommerce.profile.service.EmailServiceImpl">
		<property name="mailSender" ref="mailSender"/>
		<property name="velocityEngine" ref="velocityEngine"/>
	</bean>

	<bean id="userDetailsService" class="org.broadleafcommerce.profile.service.UserDetailsServiceImpl">
		<property name="forcePasswordChange" value="false"/>
		<property name="customerService" ref="customerService"/>
	</bean>

	<bean id="userService" class="org.broadleafcommerce.profile.service.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
		<property name="passwordEncoder" ref="passwordEncoder"/>
	</bean>
	<bean id="userDao" class="org.broadleafcommerce.profile.dao.UserDaoJpa">
		<property name="entityManagerFactory" ref="entityManagerFactory"/>
		<property name="entityConfiguration" ref="entityConfiguration"/>
	</bean>

	<bean id="customerStateStore" class="org.broadleafcommerce.security.CustomerStateStore">
		<property name="customerService" ref="customerService"/>
	</bean>

</beans>
