<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Framework -->
	<!-- Catalog -->

<!--
	<bean name="catalogServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="target" ref="catalogService"/>
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
-->

<!--
	<bean name="customerServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="target" ref="customerService"/>
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributes">
			<props>
				<prop key="saveCustomer">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
-->

</beans>
