.interactImageHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    border:1px solid #808080;
    padding:5px;
    background-color:#b8d0ff;
    color:black;
}

.editRowDisabled {
	background-color: #f3f3f3;	
}

.label-bold {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:13px;
    color:black;
}

.sectionViewBorder {
	border-left: 1px solid #a6abb5;
	border-bottom: 1px solid #a6abb5;
	border-right: 1px solid #a6abb5;		
}

.versionStyle {
	font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:14px;
    color:white;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

.headerLogo {
    padding: 10px 5px 5px 20px;
}

.userText {
    font-family:helvetica, sans-serif;
    font-size:12px;
    color:white;
    text-align:left;
    padding-left: 10px;
    padding-right: 20px;
}

.userLogout {
    font-family:helvetica, sans-serif;
    font-size:12px;
    color:white;
    text-align:left;
    padding-left: 5px;
}

.userLogoutOver {
    font-size:12px;
    color:#94b12c;
    padding-left: 5px;
}

.primaryMenuText {
    font-family:helvetica, sans-serif;
    font-size:14px;
    color:white;
    text-align:center;
    padding: 8px 10px;
}

.primaryMenuTextOver {
    font-family:helvetica, sans-serif;
    font-size:14px;
    text-align:center;
    padding: 8px 10px;
    color: #94b12c;
}

.primaryMenuText-selected,
.primaryMenuText-selectedOver
{
    font-family:helvetica, sans-serif;
    font-size:14px;
    color:white;
    text-align:center;
    padding: 8px 10px;
    background-color: #78A22F;
}

.secondaryMenuText,
.secondaryMenuText-selected,
.secondaryMenuTextOver,
.secondaryMenuText-selectedOver {
    font-family:helvetica, sans-serif;
    font-size:12px;
    color:#454545;
    padding: 10px 10px;
    text-align:center;
}

.secondaryMenuTextOver,
.secondaryMenuText-selected,
.secondaryMenuText-selectedOver {
    color:white;
    padding: 10px 10px;
}

.headerItem, .headerItemDisabled {
    padding-top: 5px;
    border-bottom:1px solid #808080;
    height: 15px;
}

.blcHeader, .blcHeaderDisabled {
    color: #4C4C4C;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}

.adminModalMask {
    background-color: #000000;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2147483646;
}

.disabledLabel {
    font-size:11px;
    color:#AAAAAA;
    font-family:Arial,Verdana,sans-serif;
}

.normalLabel {
    font-size:11px;
    color:#000000;
    font-family:Arial,Verdana,sans-serif;
}

textarea {
    resize: none;
}

.gwt-RichTextArea {
	border:none;
	background-color: #ffffff;
}