<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

    <bean id="adminUrlMapping" class="org.broadleafcommerce.openadmin.security.CompatibleGWTSecuredHandler">
        <property name="mappings">
            <map>
                <entry key="/**/security.service" value-ref="blAdminSecurityRemoteService" />
                <entry key="/**/dynamic.entity.service" value-ref="blDynamicEntityRemoteService" />
                <entry key="/**/upload.progress.service" value-ref="blUploadRemoteService" />
                <entry key="/**/utility.service" value-ref="blUtilityRemoteService" />
                <entry key="/**/admin.catalog.service" value-ref="blAdminCatalogRemoteService" />
            </map>
        </property>
        <property name="serviceExporterFactory">
            <bean class="org.broadleafcommerce.openadmin.security.CompatibleGWTSecuredRPCServiceExporterFactory"/>
        </property>
    </bean>
    
</beans>