target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
common/maven-eclipse.xml
admin/broadleaf-admin-module/.externalToolBuilders/
admin/broadleaf-admin-module/maven-eclipse.xml
admin/broadleaf-open-admin-platform/.externalToolBuilders/
admin/broadleaf-open-admin-platform/maven-eclipse.xml
common/.externalToolBuilders/

