[project]
	description = Broadleaf Commerce - Enterprise eCommerce framework based on Spring
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Phillip Verheyden (phillipuniverse)
[access "refs/for/refs/*"]
	read = group user/Phillip Verheyden (phillipuniverse)
	push = group user/Phillip Verheyden (phillipuniverse)
	label-Code-Review = -2..+2 group user/Phillip Verheyden (phillipuniverse)
	label-Verified = -1..+1 group user/Phillip Verheyden (phillipuniverse)
	rebase = group user/Phillip Verheyden (phillipuniverse)
	removeReviewer = group user/Phillip Verheyden (phillipuniverse)
	submit = group user/Phillip Verheyden (phillipuniverse)
[access "refs/heads/*"]
	read = group user/Phillip Verheyden (phillipuniverse)
	create = group user/Phillip Verheyden (phillipuniverse)
	push = +force group user/Phillip Verheyden (phillipuniverse)
	pushMerge = group user/Phillip Verheyden (phillipuniverse)
[access "refs/tags/*"]
	push = +force group user/Phillip Verheyden (phillipuniverse)
	pushTag = group user/Phillip Verheyden (phillipuniverse)
	pushSignedTag = group user/Phillip Verheyden (phillipuniverse)
