<!--
  #%L
  BroadleafCommerce Integration
  %%
  Copyright (C) 2009 - 2024 Broadleaf Commerce
  %%
  Licensed under the Broadleaf Fair Use License Agreement, Version 1.0
  (the "Fair Use License" located  at http://license.broadleafcommerce.org/fair_use_license-1.0.txt)
  unless the restrictions on use therein are violated and require payment to Broadleaf in which case
  the Broadleaf End User License Agreement (EULA), Version 1.1
  (the "Commercial License" located at http://license.broadleafcommerce.org/commercial_license-1.1.txt)
  shall apply.
  
  Alternatively, the Commercial License may be replaced with a mutually agreed upon license (the "Custom License")
  between you and Broadleaf Commerce. You may not use this file except in compliance with the applicable license.
  #L%
  -->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="BroadleafCommerce Test Suite" verbose="10" parallel="none">
    <test name="commerce-integrationtest" preserve-order="true">
        <packages>
            <package name="org.broadleafcommerce.core.catalog.dao"/>
            <package name="org.broadleafcommerce.core.catalog.service"/>
            <package name="org.broadleafcommerce.core.checkout.service"/>
            <package name="org.broadleafcommerce.common.email.service"/>
            <package name="org.broadleafcommerce.common.extensibility"/>
            <package name="org.broadleafcommerce.core.inventory.service"/>
            <package name="org.broadleafcommerce.layout"/>
            <package name="org.broadleafcommerce.core.offer.service"/>
            <package name="org.broadleafcommerce.core.order.dao"/>
            <package name="org.broadleafcommerce.core.order.service"/>
            <package name="org.broadleafcommerce.core.payment.service"/>
            <package name="org.broadleafcommerce.core.pricing.service"/>
            <package name="org.broadleafcommerce.profile.web.core.service"/>
            <package name="org.broadleafcommerce.profile.web.core.controller"/>
            <package name="org.broadleafcommerce.security.service"/>
            <package name="org.broadleafcommerce.taglib"/>
            <package name="org.broadleafcommerce.test"/>
            <package name="org.broadleafcommerce.common.time.time"/>
        </packages>
    </test>
</suite>
