.interactImageHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    border:1px solid #808080;
    padding:5px;
    background-color:#b8d0ff;
    color:black;
}

.editRowDisabled {
	background-color: #f3f3f3;	
}

.label-bold {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:13px;
    color:black;
}

.sectionViewBorder {
	border-left: 1px solid #a6abb5;
	border-bottom: 1px solid #a6abb5;
	border-right: 1px solid #a6abb5;		
}

.versionStyle {
	font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:14px;
    color:white;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

.disabledLabel {
    font-size:11px;
    color:#AAAAAA;
    font-family:Arial,Verdana,sans-serif;
}

.normalLabel {
    font-size:11px;
    color:#000000;
    font-family:Arial,Verdana,sans-serif;
}