<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="blPersistenceUnitManager"
          class="org.broadleafcommerce.extensibility.jpa.MergePersistenceUnitManager">
        <property name="persistenceXmlLocations">
            <list>
                <value>classpath*:/META-INF/persistence-demo.xml</value>
            </list>
        </property>
        <property name="dataSources">
            <map>
                <entry key="jdbc/web" value-ref="blDS"/>
                <entry key="jdbc/webSecure" value-ref="blDS"/>
            </map>
        </property>
        <property name="defaultDataSource" ref="blDS"/>
    </bean>
    
    <bean id="blDS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
        <property name="url" value="jdbc:hsqldb:hsql://localhost/broadleaf;ifexists=true" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>
    
    <bean id="blCacheManager"
          class="org.broadleafcommerce.extensibility.cache.ehcache.MergeEhCacheManagerFactoryBean">
        <property name="shared" value="true"/>
        <property name="configLocations">
            <list>
                <value>classpath:bl-override-ehcache.xml</value>
            </list>
        </property>
    </bean>
    
</beans>