<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BroadleafCommerce Test Suite" verbose="2" parallel="false">
	<test name="commerce-integrationtest">
        <packages>
        	<package name="org.broadleafcommerce.test.integration"></package>
        	<package name="org.broadleafcommerce.profile.test"></package>
        	<package name="org.broadleafcommerce.pricing.test"></package>
        	<package name="org.broadleafcommerce.inventory.test"></package>
        	<package name="org.broadleafcommerce.email.test"></package>
        	<package name="org.broadleafcommerce.dependency.test"></package>
        	<package name="org.broadleafcommerce.catalog.test"></package>
        	<package name="org.broadleafcommerce.security.test"></package>
        </packages>
    </test>
	<test name="offer-integrationtest">
        <packages>
        	<package name="org.broadleafcommerce.offer.test"></package>
        </packages>
    </test>
	<test name="broadleafcommerce-unittest">
        <packages>
        	<package name="org.broadleafcommerce.test.unit"></package>
        </packages>
    </test>
	<test name="broadleafcommerce-layout">
        <packages>
        	<package name="org.broadleafcommerce.layout.test"></package>
        </packages>
    </test>
</suite>