<div>
    <div th:fragment="messages">
        <div class="alert-box alert" th:unless="${#strings.isEmpty(param.errorCode)}">
            <div th:if="${errorCode == 'invalidUser'}">No matching user found.</div>
            <div th:if="${errorCode == 'emailNotFound'}">The requested username does not have a valid email address. Please contact an administrator.</div>
            <div th:if="${errorCode == 'inactiveUser'}">The username you entered is marked as inactive. Please contact an administrator to activate your account.</div>
            <div th:unless="${#strings.isEmpty(param.errorCode)}">Unknown error.</div>
        </div>
    </div>

    <form th:fragment="form" action="#" th:action="@{resetPassword}" method="POST">
        <label>Username</label>
        <input type="text" id="username" name="username" autofocus="autofocus" />

        <input type="submit" class="button radius right" value="Reset Password"/>
    </form>

    <div th:fragment="options">
        <ul class="inline-list">
            <li><a href="#" th:href="@{forgotUsername}">Forgot Username</a></li>
            <li class="divider">&nbsp;</li>
            <li><a href="#" th:href="@{login}">Login</a></li>
        </ul>
    </div>
</div>