<div class="action-popup change-password">
    <blc:form th:action="@{/changePassword}" method="POST">
        <fieldset>
            <legend th:text="#{PasswordChange_title}" />
            
            <input type="hidden" name="username" th:value="${username}" />

            <div>
                <input type="password" class="twelve" name="oldPassword" th:placeholder="#{PasswordChange_oldPassword}" />
            </div>

            <div>
                <input type="password" class="twelve" name="password" th:placeholder="#{PasswordChange_newPassword}" />
            </div>

            <div>
                <input type="password" class="twelve" name="confirmPassword" th:placeholder="#{PasswordChange_newPasswordConfirm}" />
            </div>
        </fieldset>
    

        <div class="actions">
            <button class="small button radius dark change-password-confirm"
                th:text="#{PasswordChange_submitButton}" />
            <a href="#" class="action-popup-cancel" th:text="#{Cancel}" />
        </div>
    
        <img th:src="@{/img/admin/ajax-loader.gif}" class="ajax-loader" />

        <span class="message submit-error" />
    </blc:form>
</div>
