<div>
    <div th:fragment="messages">    
         <div class="alert-box alert" th:switch="${errorCode}" th:unless="${#strings.isEmpty(errorCode)}">  
            <div th:case="'notFound'">No matching user found.</div>
            <div th:case="'invalidUser'">No matching user found.</div>
            <div th:case="'inactiveUser'">The username associated with the email you entered is marked as inactive. Please contact an administrator to activate the account.</div>
            <div th:case="'invalidToken'">The token entered is invalid or expired. To request a new token, choose the "Forgot Password" link below.</div>
            <div th:case="'tokenExpired'">The token entered is invalid or expired. To request a new token, choose the "Forgot Password" link below.</div>            
            <div th:case="'tokenUsed'">The token entered has already been processed.   No new updates were made. To request a new token, choose the "Forgot Password" link below.</div>
            <div th:case="'invalidPassword'">Please enter a valid password.</div>
            <div th:case="'passwordMismatch'">The password and confirm password fields did not match.</div>
            <div th:case="*">Unknown error. </div> 
        </div>
    </div>

    <form th:fragment="form" action="#" th:action="@{changePassword}" method="POST" th:object="${resetPasswordForm}">

        <label>Username</label>
        <input type="text" th:field="*{username}" autofocus="autofocus" class="twelve" />

        <label>Old Password</label>
        <input type="password" th:field="*{oldPassword}" class="twelve" />

        <label>New Password</label>
        <input type="password" id="password" name="password" th:field="*{password}" class="twelve" />

        <label>Confirm New Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" class="twelve" />

        <input type="submit" class="button radius right" value="Change Password"/>
    </form>

    <div th:fragment="options">
        <ul class="inline-list">
            <li><a href="#" th:href="@{login}">Login</a></li>
            <li class="divider">&nbsp;</li>
            <li><a href="#" th:href="@{forgotUsername}">Forgot Username</a></li>
            <li class="divider">&nbsp;</li>
            <li><a href="#" th:href="@{forgotPassword}">Forgot Password</a></li>
        </ul>
    </div>
</div>