<div>
    <div th:fragment="messages">    
         <div class="alert-box alert" th:switch="${errorCode}" th:unless="${#strings.isEmpty(errorCode)}">  
            <div th:case="'notFound'" th:text="#{password.notFound}" />
            <div th:case="'invalidUser'" th:text="#{password.invalidUser}" />
            <div th:case="'inactiveUser'" th:text="#{password.inactiveUser}" />
            <div th:case="'invalidToken'" th:text="#{password.invalidToken}" />
            <div th:case="'tokenExpired'" th:text="#{password.tokenExpired}" />
            <div th:case="'tokenUsed'" th:text="#{password.tokenUsed}" />
            <div th:case="'invalidPassword'" th:text="#{password.invalidPassword}" />
            <div th:case="'passwordMismatch'" th:text="#{password.passwordMismatch}" />
            <div th:case="*" th:inline="text">[[#{password.unknown}]] <span th:text="${errorCode}"/></div>
        </div>
    </div>

    <form th:fragment="form" action="#" th:action="@{changePassword}" method="POST" th:object="${resetPasswordForm}">

        <label th:text="#{password.username}" />
        <input type="text" th:field="*{username}" autofocus="autofocus" class="twelve" />

        <label th:text="#{password.oldPassword}" />
        <input type="password" th:field="*{oldPassword}" class="twelve" />

        <label th:text="#{password.newPassword}" />
        <input type="password" id="password" name="password" th:field="*{password}" class="twelve" />

        <label th:text="#{password.confirmNewPassword}" />
        <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" class="twelve" />

        <input type="submit" class="button radius right" th:value="#{password.changePassword}" />
    </form>

    <div th:fragment="options">
        <ul class="inline-list">
            <li><a href="#" th:href="@{login}" th:text="#{password.login}" /></li>
            <li class="divider">&nbsp;</li>
            <li><a href="#" th:href="@{forgotUsername}" th:text="#{password.forgotUsername}" /></li>
            <li class="divider">&nbsp;</li>
            <li><a href="#" th:href="@{forgotPassword}" th:text="#{password.forgotPassword}" /></li>
        </ul>
    </div>
</div>