<div class="action-popup change-password">
    <span class="message submit-error"></span>

    <blc:form th:action="@{/changePassword}" method="POST">
        <fieldset>
            <legend th:text="#{PasswordChange_title}" ></legend>
            
            <input type="hidden" name="username" th:value="${username}" />

            <div class="field-group">
                <label>Current Password</label>
                <input type="password" name="oldPassword" th:placeholder="#{PasswordChange_oldPassword}" />
            </div>

            <div class="field-group">
                <label>New Password</label>
                <input type="password" name="password" th:placeholder="#{PasswordChange_newPassword}" />
            </div>

            <div class="field-group">
                <label>Confirm New Password</label>
                <input type="password" name="confirmPassword" th:placeholder="#{PasswordChange_newPasswordConfirm}" />
            </div>
        </fieldset>

        <div class="actions">
            <button class="button primary change-password-confirm" th:text="#{PasswordChange_submitButton}"></button>
            <a href="#" class="button secondary action-popup-cancel" th:text="#{Cancel}"></a>
        </div>
    
        <img th:src="@{/img/admin/ajax-loader.gif}" class="ajax-loader" />

    </blc:form>
</div>
