<div>
    <div th:fragment="messages">            
        <div class="alert" th:unless="${#strings.isEmpty(errorCode)}">
            <div th:if="${errorCode == 'invalidUser'}" th:text="#{password.notFound}" ></div>
            <div th:if="${errorCode == 'emailNotFound'}" th:text="#{password.emailNotFound}" ></div>
            <div th:if="${errorCode == 'inactiveUser'}" th:text="#{password.inactiveUser}" ></div>
        </div>
    </div>

    <blc:form th:fragment="form" action="#" th:action="@{/sendResetPassword}" method="POST">
        <div class="field-group">
            <label th:text="#{password.username}" ></label>
            <input type="text" id="username" name="username" autofocus="autofocus" class="twelve" />
        </div>

        <div class="account-actions">
            <ul class="inline-list">
                <li><a href="#" th:href="@{/forgotUsername}" th:text="#{password.forgotUsername}" ></a>
</li>
                <li><a href="#" th:href="@{/login}" th:text="#{password.login}" ></a>
</li>
            </ul>
            <input type="submit" class="button primary large" value="Reset Password"/>
        </div>
    </blc:form>

    <div th:fragment="options">
        <ul class="inline-list">
            <li><a href="#" th:href="@{/forgotUsername}" th:text="#{password.forgotUsername}" ></a>
</li>
            <li><a href="#" th:href="@{/login}" th:text="#{password.login}" ></a>
</li>
        </ul>
    </div>
</div>