<div>
    <div th:fragment="messages">            
        <div class="alert-box alert" th:unless="${#strings.isEmpty(errorCode)}">
            <div th:if="${errorCode == 'invalidUser'}" th:text="#{password.notFound}" />
            <div th:if="${errorCode == 'emailNotFound'}" th:text="#{password.emailNotFound}" />
            <div th:if="${errorCode == 'inactiveUser'}" th:text="#{password.inactiveUser}" />
        </div>
    </div>

    <form th:fragment="form" action="#" th:action="@{sendResetPassword}" method="POST">
        <label th:text="#{password.username}" />
        <input type="text" id="username" name="username" autofocus="autofocus" class="twelve" />

        <input type="submit" class="button radius right" value="Reset Password"/>
    </form>

    <div th:fragment="options">
        <ul class="inline-list">
            <li><a href="#" th:href="@{forgotUsername}" th:text="#{password.forgotUsername}" /></li>
            <li class="divider">&nbsp;</li>
            <li><a href="#" th:href="@{login}" th:text="#{password.login}" /></li>
        </ul>
    </div>
</div>