<div>
    <div th:fragment="messages">
        <div class="alert-box alert" th:unless="${#strings.isEmpty(param.errorCode)}">
            <div th:if="${errorCode == 'notFound'}">No matching user found.</div>
            <div th:if="${errorCode == 'inactiveUser'}">The username associated with the email you entered is marked as inactive. Please contact an administrator to activate the account.</div>
            <div th:unless="${#strings.isEmpty(param.errorCode)}">Unknown error.</div>
        </div>
    </div>

    <form th:fragment="form" action="#" th:action="@{forgotUsername}" method="POST">

        <label>Email</label>
        <input type="email" id="emailAddress" name="emailAddress" autofocus="autofocus" class="twelve" />

        <input type="submit" class="button radius right" value="Send Username"/>
    </form>

    <div th:fragment="options">
        <ul class="inline-list">
            <li><a th:href="@{forgotPassword}" href="#">Forgot Password</a></li>
            <li class="divider">&nbsp;</li>
            <li><a href="#" th:href="@{login}">Login</a></li>
        </ul>
    </div>
</div>