<div>
    <div th:fragment="messages">
        <div class="alert-box alert" th:unless="${#strings.isEmpty(param.login_error)}">
            <div th:unless="${#strings.isEmpty(param.login_error)}">Invalid username / password combination.</div>
        </div>
        <div class="alert-box alert" th:unless="${#strings.isEmpty(param.sessionTimeout)}">
            Your session has timed out. Please login again.
        </div>
        <div class="alert-box success" th:unless="${#strings.isEmpty(param.messageCode)}">            
            <div th:if="${param.messageCode[0] == 'usernameSent'}">Your username was sent to the email address on file.</div>
            <div th:if="${param.messageCode[0] == 'passwordReset'}">Your password has been reset.<br/>  Please login with your new password.</div>
        </div>
    </div>

    <form method="POST" th:fragment="form" th:action="@{/login_admin_post}" action="#">

        <label>Username</label>
        <input type="text" id="username" name="j_username" autofocus="autofocus" class="twelve" />

        <label>Password</label>
        <input type="password" id="password" name="j_password" class="twelve" />

        <input type="submit" class="button radius right" value="Sign In"/>
    </form>

    <div th:fragment="options">
        <ul class="inline-list">
            <li><a th:href="@{forgotUsername}" href="#">Forgot Username</a></li>
            <li class="divider">&nbsp;</li>
            <li><a th:href="@{forgotPassword}" href="#">Forgot Password</a></li>
            <li class="divider">&nbsp;</li>
            <li><a th:href="@{changePassword}" href="#">Change Password</a></li>
        </ul>
    </div>
</div>