<div>
    <div th:fragment="messages">
        <div class="alert-box alert" th:switch="${errorCode}" th:unless="${#strings.isEmpty(errorCode)}">  
           <div th:case="'notFound'">No matching user found.</div>
           <div th:case="'inactiveUser'">The username associated with the email you entered is marked as inactive.   Please contact an administrator to activate the account.</div>
           <div th:case="'invalidToken'">The token entered is invalid or expired.     To request a new token, choose the "Forgot Password" link below.</div>
           <div th:case="'tokenExpired'">The token entered is invalid or expired.     To request a new token, choose the "Forgot Password" link below.</div>           
           <div th:case="'tokenUsed'">The token entered has already been processed.   No new updates were made.   To request a new token, choose the "Forgot Password" link below.</div>
           <div th:case="'invalidPassword'">Please enter a valid password.</div>
           <div th:case="'passwordMismatch'">he password and confirm password fields did not match.</div>
           <div th:case="*">Unknown error. <span th:text="${errorCode}"/></div> 
        </div>
        
        <div class="alert-box success" th:unless="${#strings.isEmpty(param.messageCode) and ! #strings.isEmpty(errorCode)}">            
            <div th:if="${param.messageCode[0] == 'passwordTokenSent'}">A reset password email was sent to the address associated with your account.  Enter the token from your email in the form below to reset your password.</div>
        </div>        
    </div>

    <form th:fragment="form" action="#" th:action="@{resetPassword}" method="post" class="form-horizontal" th:object="${resetPasswordForm}">
    
        <label>Username</label>
        <input type="text" id="username" name="username" autofocus="autofocus" class="twelve" th:field="*{username}"/>

        <label>Token</label>
        <input type="text" id="token" name="token" class="twelve" th:field="*{token}" />

        <label>New Password</label>
        <input type="password" id="password" name="password" class="twelve" th:field="*{password}" />

        <label>Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="twelve" th:field="*{confirmPassword}" />
 
        <input type="submit" class="button radius right" value="Reset Password"/>
    </form>
      
    
    <div th:fragment="options">
        <a href="#" th:href="@{login}">Login</a> |
        <a href="#" th:href="@{forgotUsername}">Forgot Username</a> |
        <a href="#" th:href="@{forgotPassword}">Forgot Password</a>
    </div>
</div>