<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<context:component-scan base-package="org.broadleafcommerce" />

	<bean id="persistenceUnitManager" class="org.broadleafcommerce.extensibility.jpa.MergePersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:/META-INF/persistence-framework-catalog.xml</value>
				<value>classpath*:/META-INF/persistence-framework-user.xml</value>
				<value>classpath*:/META-INF/persistence-profile.xml</value>
			</list>
		</property>
	</bean>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="false" />
				<property name="showSql" value="false" />
				<property name="databasePlatform" value="org.hibernate.dialect.MySQLInnoDBDialect" />
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	    <tx:attributes>
	      <tx:method name="*" propagation="REQUIRED"/>
	    </tx:attributes>
	</tx:advice>

	<aop:config>
	    <aop:pointcut id="catalogServiceOperation" expression="execution(* org.broadleafcommerce.catalog.service.CatalogService.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="catalogServiceOperation"/>
	</aop:config>

	<aop:config>
		<aop:pointcut id="orderServiceOperation" expression="execution(* org.broadleafcommerce.order.service.OrderService.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="orderServiceOperation"/>
	</aop:config>

	<aop:config>
		<aop:pointcut id="ruleServiceOperation" expression="execution(* org.broadleafcommerce.rules.service.RuleService.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="ruleServiceOperation"/>
	</aop:config>

	<aop:config>
		<aop:pointcut id="addressServiceOperation" expression="execution(* org.broadleafcommerce.profile.service.AddressService.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="addressServiceOperation"/>
	</aop:config>

	<aop:config>
		<aop:pointcut id="phoneServiceOperation" expression="execution(* org.broadleafcommerce.profile.service.ContactInfoService.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="phoneServiceOperation"/>
	</aop:config>

	<aop:config>
		<aop:pointcut id="customerServiceOperation" expression="execution(* org.broadleafcommerce.profile.service.CustomerService.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="customerServiceOperation"/>
	</aop:config>

	<aop:config>
		<aop:pointcut id="userServiceOperation" expression="execution(* org.broadleafcommerce.profile.service.UserService.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="userServiceOperation"/>
	</aop:config>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    	<property name="host"><value>localhost</value></property>
    	<property name="port"><value>25</value></property>
    	<property name="protocol"><value>smtp</value></property>
    	<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
	</bean>

	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
      <property name="velocityProperties">
         <value>
            resource.loader=class
            class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            <!-- class.resource.loader.path=classpath:/config/velocity/templates/ -->
            <!-- Note that jar specification for the .path configuration property conforms to the same rules for the java.net.JarUrlConnection class-->
            <!-- jar.resource.loader.class =org.apache.velocity.runtime.resource.loader.JarResourceLoader
			jar.resource.loader.path = jar:file:/broadleaf-profile.jar/emailTemplates
			file.resource.loader.class=org.apache.velocity.runtime.resource.loader.FileResourceLoader
			file.resource.loader.cache = false
			file.resource.loader.path=${file.root}/WEB-INF/config/velocity/templates-->
         </value>
      </property>
   </bean>


<!--
	<bean id="broadleafCommerceDS" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

  	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
-->
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="entityConfiguration" class="org.broadleafcommerce.profile.util.EntityConfiguration"/>

	<!-- Entity mappings - override for extensibility -->
	<bean id="org.broadleafcommerce.catalog.domain.BasePrice" class="org.broadleafcommerce.catalog.domain.BasePriceImpl"/>
	<bean id="org.broadleafcommerce.catalog.domain.Category" class="org.broadleafcommerce.catalog.domain.CategoryImpl"/>
	<bean id="org.broadleafcommerce.catalog.domain.CategoryProduct" class="org.broadleafcommerce.catalog.domain.CategoryProductImpl"/>
	<bean id="org.broadleafcommerce.order.domain.FulfillmentGroup" class="org.broadleafcommerce.order.domain.FulfillmentGroupImpl"/>
	<bean id="org.broadleafcommerce.order.domain.FulfillmentGroupItem" class="org.broadleafcommerce.order.domain.FulfillmentGroupItemImpl"/>
	<bean id="org.broadleafcommerce.order.domain.Order" class="org.broadleafcommerce.order.domain.OrderImpl"/>
	<bean id="org.broadleafcommerce.order.domain.OrderItem" class="org.broadleafcommerce.order.domain.OrderItemImpl"/>
	<bean id="org.broadleafcommerce.payment.domain.PaymentInfo" class="org.broadleafcommerce.payment.domain.PaymentInfoImpl"/>
	<bean id="org.broadleafcommerce.profile.domain.Customer" class="org.broadleafcommerce.profile.domain.CustomerImpl"/>
	<bean id="org.broadleafcommerce.profile.domain.Phone" class="org.broadleafcommerce.profile.domain.PhoneImpl"/>
	<bean id="org.broadleafcommerce.catalog.domain.Product" class="org.broadleafcommerce.catalog.domain.ProductImpl"/>
	<bean id="org.broadleafcommerce.catalog.domain.Sku" class="org.broadleafcommerce.catalog.domain.SkuImpl"/>
	<bean id="org.broadleafcommerce.profile.domain.User" class="org.broadleafcommerce.profile.domain.UserImpl"/>
</beans>