<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    
    <bean id="persistenceUnitManager" class="org.broadleafcommerce.extensibility.jpa.MergePersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:/META-INF/persistence-framework-catalog.xml</value>
				<value>classpath*:/META-INF/persistence-framework-user.xml</value>
				<value>classpath*:/META-INF/persistence-profile.xml</value>
			</list>
		</property>
		<property name="dataSources">
			<map>
				<entry key="jdbc/BroadleafCommerceDS" value-ref="broadleafCommerceDS" />
			</map>
		</property>
		<property name="defaultDataSource" ref="broadleafCommerceDS"/>
	</bean>
       
    <bean id="broadleafCommerceDS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:mem:broadleaf" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitManager" ref="persistenceUnitManager" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true" />
				<property name="showSql" value="false" />
				<property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect" />
			</bean>
		</property>
	</bean>
	
</beans>
