<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="org.springcommerce" />

	<bean id="persistenceUnitManager" class="org.springcommerce.extensibility.jpa.MergePersistenceUnitManager">
		<property name="persistenceXmlLocations">
			<list>
				<value>classpath*:META-INF/persistence-framework.xml</value>
				<value>classpath*:META-INF/persistence-profile.xml</value>
				<value>classpath*:META-INF/persistence.xml</value>
			</list>
		</property>
		<property name="defaultDataSource" ref="dataSource"/>
	</bean>

	<aop:aspectj-autoproxy/>

	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitName" value="SpringCommercePu" />
		<property name="persistenceUnitManager" ref="persistenceUnitManager" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:/comp/env/jdbc/SCProfile</value>
		</property>
	</bean>
	
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/config/email/email.properties</value>
				<value>WEB-INF/config/velocity/velocity.properties</value>
			</list>
		</property>
	</bean>


   <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    	<property name="host"><value>${mail.smtp.host}</value></property>
    	<property name="port"><value>${mail.smtp.port}</value></property>
    	<property name="protocol"><value>${mail.smtp.protocol}</value></property> 
    	<property name="javaMailProperties">
			<props> 
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
			
			</props>
		</property> 	
	</bean>
    
	
	<bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
      <property name="velocityProperties">
         <value>
         	<!-- This resource loader will first look for the velocity files in the order specified. (class path, jar or file system)  -->
            resource.loader=class,file,jar
            class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            <!-- class.resource.loader.path=classpath:/config/velocity/templates/ -->
            <!-- Note that jar specification for the .path configuration property conforms to the same rules for the java.net.JarUrlConnection class-->
            jar.resource.loader.class =org.apache.velocity.runtime.resource.loader.JarResourceLoader
			jar.resource.loader.path=jar:file:${jar.filePath}/scprofile.jar
			file.resource.loader.class=org.apache.velocity.runtime.resource.loader.FileResourceLoader
			file.resource.loader.cache = false
			file.resource.loader.path=${file.root}/WEB-INF/config/velocity/templates
         </value>
      </property>
   </bean>

</beans>