<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.directwebremoting.org/schema/spring-dwr
       http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
       	<property name="suffix" value=".jsp"></property>
    </bean>

    <bean id="welcome" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="welcome"/>
    </bean>

	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="order" value="0" />
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
		    <props>
                <prop key="/welcome.htm">welcome</prop>
			</props>
		</property>
	</bean>

</beans>
