<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.directwebremoting.org/schema/spring-dwr
       http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

    <bean id="passwordChange" class="org.springcommerce.controller.PasswordChangeFormController">
        <property name="commandName" value="user"/>
        <property name="commandClass" value="org.springcommerce.util.PasswordChange"/>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.PasswordChangeValidator"/>
        </property>
        <property name="formView" value="passwordChange" />
        <property name="successView" value="passwordChange" />
    </bean>

    
    <bean id="createUser" class="org.springcommerce.controller.UserFormController">
        <property name="commandName" value="user"/>
        <property name="commandClass" value="org.springcommerce.util.CreateUser"/>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.UserValidator"/>
        </property>
        <property name="userService" ref="userService"/>
        <property name="formView" value="createUser" />
        <property name="successView" value="redirect:/login.jsp" />
    </bean>
    
    <bean id="createAddress" class="org.springcommerce.controller.AddressFormController">
        <property name="commandName" value="address"/>
        <property name="commandClass" value="org.springcommerce.profile.domain.Address"/>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.AddressValidator"/>
        </property>
        <property name="userService" ref="userService"/>
        <property name="addressService" ref="addressService"/>
        <property name="addressStandardizationService" ref="addressStandardizationService"/>
        <property name="formView" value="createAddress" />
        <property name="successView" value="redirect:/listAddress.htm" />
    </bean>

    <bean id="listAddress" class="org.springcommerce.controller.ListAddressFormController">
        <property name="commandName" value="listAddress"/>
        <property name="commandClass" value="org.springcommerce.profile.domain.Address"/>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.AddressValidator"/>
        </property>
        <property name="userService" ref="userService"/>
        <property name="addressService" ref="addressService"/>
        <property name="formView" value="listAddress" />
        <property name="successView" value="listAddress" />
    </bean>

    <bean id="createCatalogItem" class="org.springcommerce.controller.CatalogItemFormController">
        <property name="commandName" value="catalogItem"/>
        <property name="commandClass" value="org.springcommerce.catalog.domain.CatalogItem"/>
        <property name="catalogService" ref="catalogService"/>
        <property name="formView" value="createCatalogItem" />
        <property name="successView" value="redirect:/listCatalogItem.htm" />
    </bean>

    <bean id="listCatalogItem" class="org.springcommerce.controller.ListCatalogItemFormController">
        <property name="commandName" value="listCatalogItem"/>
        <property name="commandClass" value="org.springcommerce.catalog.domain.CatalogItem"/>
        <property name="catalogService" ref="catalogService"/>
        <property name="formView" value="listCatalogItem" />
        <property name="successView" value="listCatalogItem" />
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
       	<property name="suffix" value=".jsp"></property>
    </bean>

    <bean id="welcome" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="welcome"/>
    </bean>

	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="order" value="0" />
		<property name="alwaysUseFullPath" value="true" />
		<property name="mappings">
		    <props>
                <prop key="/welcome.htm">welcome</prop>
                <prop key="/createUser.htm">createUser</prop>
                <prop key="/passwordChange.htm">passwordChange</prop>
                <prop key="/createAddress.htm">createAddress</prop>
                <prop key="/listAddress.htm">listAddress</prop>
                <prop key="/createCatalogItem.htm">createCatalogItem</prop>
                <prop key="/listCatalogItem.htm">listCatalogItem</prop>
			</props>
		</property>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>

    <bean id="beanNameUrlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
      	<property name="order" value="1" />
   	</bean>

</beans>
