<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.directwebremoting.org/schema/spring-dwr
       http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

    <bean id="passwordChange" class="org.springcommerce.controller.PasswordChangeFormController">
        <property name="commandName" value="user"/>
        <property name="commandClass" value="org.springcommerce.util.PasswordChange"/>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.PasswordChangeValidator"/>
        </property>
        <property name="formView" value="passwordChange" />
        <property name="successView" value="passwordChange" />
    </bean>


    <bean id="createUser" class="org.springcommerce.controller.UserFormController">
        <property name="commandName" value="user"/>
        <property name="commandClass" value="org.springcommerce.util.CreateUser"/>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.UserValidator"/>
        </property>
        <property name="userService" ref="userService"/>
        <property name="emailService" ref="emailService"/>
        <property name="formView" value="createUser" />
        <property name="successView" value="redirect:/login.jsp" />
    </bean>
    
    <bean id="forgotPwd" class="org.springcommerce.controller.ForgotPwdFormController">
        <property name="commandName" value="user"/>
        <property name="commandClass" value="org.springcommerce.profile.domain.User"/>
        <property name="userService" ref="userService"/>
        <property name="formView" value="forgotPwd" />
        <property name="successView" value="redirect:/login.jsp" />
    </bean>
    
    <bean id="challengeQuestion" class="org.springcommerce.controller.ChallengeQuestionFormController">
        <property name="commandName" value="passwordChange"/>
        <property name="commandClass" value="org.springcommerce.util.PasswordChange"/>
        <property name="userService" ref="userService"/>
        <property name="formView" value="challengeQuestion" />
        <property name="successView" value="redirect:/forgotPasswordChange.htm" />
    </bean>
    
    <bean id="forgotPasswordChange" class="org.springcommerce.controller.ForgotPasswordChangeFormController">
        <property name="commandName" value="passwordChange"/>
        <property name="commandClass" value="org.springcommerce.util.PasswordChange"/>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.ForgotPwdValidator"/>
        </property>
        <property name="userService" ref="userService"/>
        <property name="emailService" ref="emailService"/> 
        <property name="formView" value="forgotPasswordChange" />
        <property name="successView" value="redirect:/login.jsp" />
    </bean>
    
    
    <bean id="createAddress" class="org.springcommerce.controller.AddressFormController">
        <property name="commandName" value="address"/>
        <property name="commandClass" value="org.springcommerce.profile.domain.Address"/>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.AddressValidator"/>
        </property>
        <property name="userService" ref="userService"/>
        <property name="addressService" ref="addressService"/>
        <property name="addressStandardizationService" ref="addressStandardizationService"/>
        <property name="formView" value="createAddress" />
        <property name="successView" value="redirect:/listAddress.htm" />
    </bean>

    <bean id="listAddress" class="org.springcommerce.controller.ListAddressFormController">
        <property name="commandName" value="listAddress"/>
        <property name="commandClass" value="org.springcommerce.profile.domain.Address"/>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.AddressValidator"/>
        </property>
        <property name="userService" ref="userService"/>
        <property name="addressService" ref="addressService"/>
        <property name="formView" value="listAddress" />
        <property name="successView" value="listAddress" />
    </bean>

    <bean id="createCatalogItem" class="org.springcommerce.controller.CatalogItemFormController">
        <property name="commandName" value="catalogItem"/>
        <property name="commandClass" value="org.springcommerce.catalog.domain.CatalogItem"/>
        <property name="catalogService" ref="catalogService"/>
        <property name="formView" value="createCatalogItem" />
        <property name="successView" value="redirect:/listCatalogItem.htm" />
    </bean>

    <bean id="createSellableItem" class="org.springcommerce.controller.SellableItemFormController">
        <property name="commandName" value="sellableItem"/>
        <property name="commandClass" value="org.springcommerce.catalog.domain.SellableItem"/>
        <property name="catalogService" ref="catalogService"/>
        <property name="formView" value="createSellableItem" />
        <property name="successView" value="redirect:/listSellableItem.htm" />
    </bean>

    <bean id="listCatalogItem" class="org.springcommerce.controller.ListCatalogItemFormController">
        <property name="commandName" value="listCatalogItem"/>
        <property name="commandClass" value="org.springcommerce.web.PaginationCommandObject"/>
        <property name="catalogService" ref="catalogService"/>
        <property name="formView" value="listCatalogItem" />
        <property name="successView" value="listCatalogItem" />
        <property name="ajaxView" value="listCatalogItemAjax" />
    </bean>

    <bean id="listSellableItem" class="org.springcommerce.controller.ListSellableItemFormController">
        <property name="commandName" value="listSellableItem"/>
        <property name="commandClass" value="org.springcommerce.catalog.domain.SellableItem"/>
        <property name="catalogService" ref="catalogService"/>
        <property name="formView" value="listSellableItem" />
        <property name="successView" value="listSellableItem" />
    </bean>

    <bean id="listOrders" class="org.springcommerce.controller.ListOrdersFormController">
        <property name="commandName" value="listOrders"/>
        <property name="commandClass" value="org.springcommerce.order.domain.Order"/>
        <property name="orderService" ref="orderService"/>
        <property name="userService" ref="userService"></property>
        <property name="formView" value="listOrders" />
        <property name="successView" value="listOrders" />
    </bean>

    <bean id="listBasket" class="org.springcommerce.controller.ListBasketFormController">
		<property name="redirectUrl" value="listBasket.htm" />
        <property name="orderService" ref="orderService"/>
        <property name="userService" ref="userService"></property>
    </bean>

	<bean id="checkout" class="org.springcommerce.controller.CheckoutController">
	    <property name="orderService" ref="orderService"/>
	    <property name="userService" ref="userService"/>
	    <property name="commandName" value="checkout"/>
	    <property name="commandClass" value="org.springcommerce.util.Checkout"/>
	    <property name="pages">
	        <list>
				<value>inputCheckoutContactInformation</value>
	            <value>inputCheckoutShippingAddress</value>
	            <value>inputCheckoutPayment</value>
	            <value>inputCheckoutConfirmation</value>
	        </list>
	    </property>
        <property name="validator">
            <bean class="org.springcommerce.controller.validator.CheckoutValidator"/>
        </property>
	    
	</bean>

    <bean id="createCategory" class="org.springcommerce.controller.CategoryFormController">
        <property name="commandName" value="category"/>
        <property name="commandClass" value="org.springcommerce.util.CreateCategory"/>
        <property name="catalogService" ref="catalogService"/>
        <property name="formView" value="createCategory" />
        <property name="successView" value="redirect:/listCategory.htm" />
    </bean>

    <bean id="listCategory" class="org.springcommerce.controller.ListCategoryFormController">
        <property name="commandName" value="listCategory"/>
        <property name="commandClass" value="org.springcommerce.catalog.domain.Category"/>
        <property name="catalogService" ref="catalogService"/>
        <property name="formView" value="listCategory" />
        <property name="successView" value="listCategory" />
    </bean>

    <bean id="catalogDisplay" class="org.springcommerce.web.CatalogController">
        <property name="catalogService" ref="catalogService"/>
        <property name="defaultView" value="defaultCatalog" />
        <property name="defaultProductView" value="defaultProduct" />
    </bean>

    <bean id="catalogDisplayInterceptor" class="org.springcommerce.web.CatalogDisplayInterceptor">
        <property name="catalogService" ref="catalogService"/>
        <property name="catalogPrefix" value="catalog"/>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
       	<property name="suffix" value=".jsp"></property>
    </bean>

    <bean id="welcome" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="welcome"/>
    </bean>

	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="order" value="0" />
		<property name="alwaysUseFullPath" value="true" />
        <property name="interceptors">
            <list>
                <ref bean="catalogDisplayInterceptor"/>
            </list>
        </property>
		<property name="mappings">
		    <props>
                <prop key="/welcome.htm">welcome</prop>
                <prop key="/createUser.htm">createUser</prop>
                <prop key="/forgotPwd.htm">forgotPwd</prop>
                <prop key="/challengeQuestion.htm">challengeQuestion</prop>
                <prop key="/forgotPasswordChange.htm">forgotPasswordChange</prop>
                <prop key="/passwordChange.htm">passwordChange</prop>
                <prop key="/createAddress.htm">createAddress</prop>
                <prop key="/listAddress.htm">listAddress</prop>
                <prop key="/createCatalogItem.htm">createCatalogItem</prop>
                <prop key="/listCatalogItem.htm">listCatalogItem</prop>
                <prop key="/listSellableItem.htm">listSellableItem</prop>
                <prop key="/createCategory.htm">createCategory</prop>
                <prop key="/listCategory.htm">listCategory</prop>
                <prop key="/createSellableItem.htm">createSellableItem</prop>
                <prop key="/listOrders.htm">listOrders</prop>
                <prop key="/basket/*">listBasket</prop>
                <prop key="/checkout/checkout.htm">checkout</prop>
                <prop key="/catalog/*">catalogDisplay</prop>
                <prop key="/catalog/*/*">catalogDisplay</prop>
                <prop key="/catalog/*/*/*">catalogDisplay</prop>
			</props>
		</property>
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>

    <bean id="beanNameUrlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
      	<property name="order" value="1" />
   	</bean>

</beans>
