<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.directwebremoting.org/schema/spring-dwr
       http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    >

    <context:component-scan base-package="org.springframework.samples.petclinic.web"/>

	<bean id="resourceBundleExtensionPoint"
		class="org.broadleafcommerce.profile.util.ResourceBundleExtensionPoint" />

	<bean id="messageSource"
		class="org.broadleafcommerce.profile.util.BLResourceBundleMessageSource">
		<constructor-arg>
			<list>
				<value>registrationMessages</value>
				<value>messages</value>
			</list>
		</constructor-arg>
		<constructor-arg ref="resourceBundleExtensionPoint" />
	</bean>
	
	<!-- Configures the Tiles layout system -->
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles-broadleafdemo.xml
				</value>
			</list>
		</property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView"></property>
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="welcome"
		class="org.springframework.web.servlet.mvc.ParameterizableViewController">
		<property name="viewName" value="welcome" />
	</bean>

	<bean id="catalogController" class="org.broadleafcommerce.catalog.web.CatalogController">
		<property name="catalogService" ref="blCatalogService"/>
        <property name="defaultCategoryView" value="catalog/defaultCatalog"/>
        <property name="defaultProductView" value="catalog/defaultProduct"/>
        <property name="rootCategoryName" value="Store" />
        <property name="categoryTemplatePrefix" value="catalog/templates/"/>
	</bean>
	
	<bean id="cartController" class="org.broadleafcommerce.order.web.CartController">
        <property name="cartView" value="shoppingCart/cartSummary"/>
        <property name="cartViewRedirect" value="false"/>
        <property name="addItemView" value="viewCart.htm"/>
        <property name="addItemViewRedirect" value="true"/>
	</bean>
	
	<bean id="customerPhoneController" class="org.broadleafcommerce.profile.web.controller.CustomerPhoneController">
		<property name="deletePhoneSuccessView" value="myAccount/phone/customerPhones"/>
	</bean>

	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="order" value="0" />
		<property name="alwaysUseFullPath" value="true" />
		<!-- property name="interceptors">
			<list>
				<ref bean="catalogDisplayInterceptor" />
			</list>
		</property -->
		<property name="mappings">
			<props>
				<prop key="/welcome.htm">welcome</prop>
				<prop key="/myaccount/phone/*">customerPhoneController</prop>
				<prop key="/registerCustomer/*">blRegisterCustomerController</prop>
				<prop key="/orders">viewOrderController</prop>
				<prop key="/orders/*">viewOrderController</prop>
				<prop key="/store">catalogController</prop>
				<prop key="/store/*">catalogController</prop>
				<prop key="/store/*/*">catalogController</prop>
				<prop key="/store/*/*/*">catalogController</prop>
				<prop key="/basket/*">cartController</prop>
			</props>
		</property>
	</bean>
		
	<bean id="beanNameUrlMapping"
		class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
		<property name="order" value="1" />
	</bean>

</beans>
