<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

   <!-- The following listener and context-param are used to bootstrap our
        Spring Application Contexts.  The web application context is loaded
        via the broadleaf servlet defined below -->
   <listener>
      <listener-class> org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml,
			/WEB-INF/applicationContext-security.xml
		</param-value>
	</context-param>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.security.ui.session.HttpSessionEventPublisher</listener-class>
	</listener>

   <!-- This servlet declaration is used as the Dispatcher Servlet (front
        controller) in our Spring MVC framework and it also loads our web
        application context. -->
	<servlet>
		<servlet-name>broadleaf</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
		    <param-name>contextConfigLocation</param-name>
		    <param-value>
		    	classpath*:/applicationContext-service.xml,
		    	/WEB-INF/applicationContext-servlet.xml
		    </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>broadleaf</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>broadleaf</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>broadleaf</servlet-name>
        <url-pattern>/catalog/*</url-pattern>
    </servlet-mapping>

	<filter>
		<filter-name>entityManagerInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>entityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>/spring</taglib-uri>
			<taglib-location>/WEB-INF/tld/spring.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/spring-form</taglib-uri>
			<taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/broadleafcommerce</taglib-uri>
			<taglib-location>/WEB-INF/lib/broadleaf-layout.jar</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/broadleaf</taglib-uri>
			<taglib-location>/WEB-INF/tld/broadleaf-profile.tld</taglib-location>
		</taglib>
	</jsp-config>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/Broadleaf</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<error-page>
		<error-code>403</error-code>
		<location>/login.jsp</location>
	</error-page>

</web-app>