/* Broadleaf Admin Specific Styles  */

.mCS_no_scrollbar + .mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger {
	display: none;
}

body {
    padding-bottom: 60px;
    background: #e9e9e9;
}

html {
	overflow: -moz-scrollbars-vertical; 
}

[role="main"] {
    background: #fff;
    border-left: 3px solid #ccc;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-top: 15px;
}

.hidden {
	display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear:both;
}

.row {
    width: 1280px;
}

.content {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

header .subheader {
    position: relative; top: -18px;
}

a {
    color: #8EAA2B;
}

.label.secondary a, .label.secondary a:hover {
    color: #6f6f6f;
}

.inline-block, input[type="text"].inline-block {
    display: inline-block;
    margin-bottom: 12px;
    vertical-align: middle;
}

span.error {
    color: #c60f13;
    padding-left: 5px;
}

/* --------------------------------------------------
  Foundation Overrides
----------------------------------------------------- */

.has-tip {
	border-bottom: inherit;
	cursor: inherit;
	font-weight: inherit;
}

.has-tip:hover {
	border-bottom: inherit;
	color: inherit;
}

input[type="search"] {
    -webkit-appearance: none;
    padding: 0px;
}

fieldset, 
fieldset legend,
.tabs, 
.tabs dd.active a, .tabs li.active a, 
div.custom.dropdown
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	border-color: #B8B8B8;
}

.foreign-key-value-container,
.entity-form .custom.dropdown,
.indented-form-value,
.entity-form input[type="text"], .entity-form input[type="password"], .entity-form input[type="date"], .entity-form input[type="datetime"], .entity-form input[type="email"], .entity-form input[type="number"], .entity-form input[type="search"], .entity-form input[type="tel"], .entity-form input[type="time"], .entity-form input[type="url"], .entity-form textarea {
    margin: 7px 0 0px 0px;
}

.entity-form .custom-checkbox {
}

div.field-box {
	margin-bottom: 20px;
}

fieldset div.field-box:last-child {
	margin-bottom: 0;
}

.indented-form-value {
	display: block;
	font-size: 12px;
}

fieldset {
	background-color: #FAFAFA;
	margin: 0 0 25px 0;
}

fieldset:last-child {
	margin-bottom: 0;
}

fieldset legend {
	background-color: #FAFAFA;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
}

label {
	font-weight: 600;
}

div.field-label {
	font-weight: 600;
	margin-bottom: 3px;
	color: #4D4D4D;
}
div.field-label.inline {
	display: inline-block;
}

.field-label.inline.required:after {
    content: "*";
}

.modal .entity-form-actions {
	margin-top: 0;
}

.entity-form-actions {
	text-align: right;
	margin-top: 20px;
}

.tabs-container {
	border-bottom: 1px solid #B8B8B8;
	margin: 0 -30px 20px;
    padding: 0 30px;
}

.tabs.vertical dd.active, .tabs.vertical li.active {
	border: 1px solid #E6E6E6;
}

.tabs dd, .tabs li {
	border-bottom: 1px solid #B8B8B8;
}

.tabs dd.active, .tabs li.active {
	border-top: 3px solid #424242;
	border-bottom: none;
	background-color: white;
	padding-bottom: 1px;
}

.tabs.vertical dd, .tabs.vertical li {
	border-left: 1px solid #E6E6E6;
}

.tabs.vertical dd.active a, .tabs.vertical li.active a {
	border-left: 4px solid #1A1A1A;
}

.tabs.vertical dd a, .tabs.vertical li a {
	border-left: 4px solid #CCC;
}

.tabs.vertical dd.active a, .tabs.vertical li.active a,
.tabs.vertical dd a, .tabs.vertical li a {
	background: white;
	color: #4D4D4D;
}

h2#mainEntityName {
	margin-bottom: 15px;
	color: #98B30A;
	margin-top: 0;
}

/* --------------------------------------------------
  Top Bar
----------------------------------------------------- */

.top-bar {
    margin: 0 0 8px 0;
}

.top-bar a {
    color: #fff;
    font-weight: bold;
}

.top-bar .attached {
    padding: 0 0 0 23px;
    max-width: 1280px;
    z-index: 0 !important;
}

.top-bar .attached > .brand {
    float: left;
    padding: 5px 10px 0px;
}

/* --------------------------------------------------
   Navigation
-----------------------------------------------------
*/
nav > ul.blc-accordion {
    margin: 0 0 22px 0;
}

nav > ul.blc-accordion > li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul.blc-accordion > li.active {
}

nav > ul.blc-accordion > li .title {
    padding-top: 13px;
    background: #f2f2f2;
	border: 1px solid #CCC;
	border-bottom: none;
    color: #555;
    cursor: pointer;
    padding: 15px;
    margin: 0;
    position: relative;
    -webkit-transition: 0.15s background linear;
    -moz-transition: 0.15s background linear;
    -o-transition: 0.15s background linear;
    transition: 0.15s background linear;
}

nav > ul.blc-accordion > li.active .title,
nav > ul.blc-accordion > li:last-child .title {
	border-bottom: 1px solid #CCC;
}

nav > ul.blc-accordion > li .title::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: transparent transparent transparent #9d9d9d;
    position: absolute;
    right: 15px;
    top: 21px;
}

nav > ul.blc-accordion > li.active .title::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: #9d9d9d transparent transparent transparent;
}


nav > ul.blc-accordion > li .title > h5 {
    line-height: 1;
    padding: 2px 6px;
    font-size: 14px;
    margin: 0;
}

nav > ul.blc-accordion > li.active .title > h5 {
    line-height: 1;
    padding: 2px 6px;
    font-size: 14px;
    margin: 0;
}

nav > ul.blc-accordion > li .content {
    padding: 0px;
    background: #fff;
}

nav > ul.blc-accordion > li.active .content {
    padding: 0px;
    border: 1px solid #CCC;
    border-top: none;
    border-bottom: none;
    margin: 0 3px;
}

nav > ul.blc-accordion > li:last-child .content {
	border-bottom: 1px solid #CCC;
}

nav > ul.blc-accordion > li > .content > ul {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
    -webkit-box-shadow: 1px 0 0 white inset;
    -moz-box-shadow: 1px 0 0 white inset;
    box-shadow: 1px 0 0 white inset;
}

nav > ul.blc-accordion > li > .content > ul li {
    border: none;
    list-style: none;
    padding: 0;
}

nav > ul.blc-accordion > li > .content > ul li a {
    cursor: pointer !important;
    font-weight: normal;
    color: #666 !important;
    padding: 2px 0 2px 20px;
    width: 100%;
    display: inline-block;
}

nav > ul.blc-accordion > li > .content > ul li.active a {
    font-weight: bold;
}

nav > ul.blc-accordion > li > .content > ul li a:hover, 
nav > ul.blc-accordion > li > .content > ul li.active a {
    color: #8EAA2B !important;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.button-blc, .button-blc:hover {
    background: #8EAA2B;
    border: 1px solid #8EAA2C;
}

table.table-hover tbody tr.clickable:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}

pre.exception {
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 20px;
	font-size: 12px;
}

table.table-hover tbody tr.draggable:hover {
    cursor: move;
    background-color: #f3f3f3;
}

/* -----------------------------------------
  List Grid
----------------------------------------- */
[class^="listgrid-icon-"],
[class*=" listgrid-icon-"] {
    display: inline-block;
    width: 20px;
    height: 17px;
    *margin-right: .3em;
    vertical-align: text-top;
    background-image: url("../../img/admin/listgrid/listgrid.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
[class^="listgrid-icon-"]:last-child,
[class*=" listgrid-icon-"]:last-child {
    *margin-left: 0;
}

.listgrid-icon-down{
    background-position: 0 0;
    width: 20px;
    height: 17px;
}

.listgrid-icon-filter{
    background-position: 0 -67px;
    width: 20px;
    height: 17px;
}

.listgrid-icon-filter-down{
    background-position: 0 -134px;
    width: 20px;
    height: 17px;
}

.listgrid-icon-filter-up{
    background-position: 0 -201px;
    width: 20px;
    height: 17px;
}

.listgrid-icon-up{
    background-position: 0 -268px;
    width: 20px;
    height: 17px;
}

.listgrid-toolbar, .ui-widget-header {
    margin: 0;
    padding: 5px 10px;
    background: #f1f1f1;
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top,  #f1f1f1 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top,  #f1f1f1 0%,#e2e2e2 100%);
    background: linear-gradient(to bottom,  #f1f1f1 0%,#e2e2e2 100%);
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	min-height: 23px;
}

.listgrid-toolbar > ul > li.list-title {
    font-weight: bold;
}

.listgrid-toolbar > ul.inline-list, .listgrid-toolbar > ul.link-list {
    margin-bottom: 0;
}

.listgrid-headerBtn {
    width: 100%;
    background: transparent;
    border: none;
    text-align: left;
    color: white;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 10px 20px 11px;
    position: relative;
    text-decoration: none;
}

.listgrid-headerBtn:hover, .listgrid-headerBtn:focus {
    color: #222;
    background: transparent;
}


.listgrid-headerBtn.dropdown {
    position: relative;
    padding-right: 44px; /* Sizes */ /* Triangles */ /* Flyout List */ /* Split Dropdown Buttons */
}

.listgrid-headerBtn.dropdown.large {
    padding-right: 60px;
}

.listgrid-headerBtn.dropdown.small {
    padding-right: 28px;
}

.listgrid-headerBtn.dropdown.tiny {
    padding-right: 20px;
}

.listgrid-headerBtn.dropdown:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: white transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -2px;
}

.listgrid-headerBtn.dropdown.large:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 7px;
    border-color: white transparent transparent transparent;
    margin-top: -3px;
    right: 30px;
}

.listgrid-headerBtn.dropdown.small:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: white transparent transparent transparent;
    margin-top: -2px;
    right: 14px;
}

.listgrid-headerBtn.dropdown.tiny:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 4px;
    border-color: white transparent transparent transparent;
    margin-top: -1px;
    right: 10px;
}

.listgrid-headerBtn.dropdown > ul {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: none;
    position: absolute;
    right: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.98);
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #cccccc;
    z-index: 40;
}

.listgrid-headerBtn.dropdown > ul li {
    width: 100%;
    padding: 0;
    min-height: 18px;
    line-height: 18px;
    margin: 0;
    white-space: nowrap;
    list-style: none;
}

.listgrid-headerBtn.dropdown > ul li a.sort {
    display: block;
    color: #555;
    font-size: 13px;
    font-weight: normal;
    padding: 6px 14px;
    text-align: left;
}

.listgrid-headerBtn.dropdown > ul li a.add-filter,
.listgrid-headerBtn.dropdown > ul li a.remove-filter {
    display: inline;
    color: #8EAA2B;
    font-weight: normal;
    text-align: left;
    padding:0 2px 5px 0;
}

.listgrid-headerBtn.dropdown > ul li a.add-filter:hover,
.listgrid-headerBtn.dropdown > ul li a.add-filter:focus,
.listgrid-headerBtn.dropdown > ul li a.remove-filter:hover,
.listgrid-headerBtn.dropdown > ul li a.remove-filter:focus {
    color: #2ba6cb;
}

.listgrid-headerBtn.dropdown > ul li a.remove-filter {
    text-align: right;
    display:block;
    padding: 0;
}

.listgrid-headerBtn.dropdown > ul li button {
    -webkit-font-smoothing: antialiased;
}

.listgrid-headerBtn.dropdown > ul li:hover, .listgrid-headerBtn.dropdown > ul li:focus {
}

.listgrid-headerBtn.dropdown > ul li.divider {
    min-height: 0;
    padding: 0;
    height: 1px;
    margin: 4px 0;
    background: #ddd;
}

.listgrid-headerBtn.dropdown.up > ul {
    border-top: 1px solid #cccccc;
    border-bottom: none;
}

.listgrid-headerBtn.dropdown ul.no-hover.show-dropdown {
    display: block !important;
    width: 255px;
}

.listgrid-headerBtn.dropdown ul.no-hover.show-dropdown.first {
}

.listgrid-headerBtn.dropdown:hover > ul.no-hover {
    display: none;
}

.listgrid-headerBtn.dropdown.split {
    padding: 3px 0; 
    position: relative; /* Sizes */ /* Triangle Spans */ /* Colors */
}

.listgrid-headerBtn.dropdown.split:after {
    display: none;
}

.listgrid-headerBtn.dropdown.split:hover, .listgrid-headerBtn.dropdown.split:focus {
    background-color: transparent;
}

.listgrid-headerBtn.dropdown.split.alert:hover, .listgrid-headerBtn.dropdown.split.alert:focus {
    background-color: #c60f13;
}

.listgrid-headerBtn.dropdown.split.success:hover, .listgrid-headerBtn.dropdown.split.success:focus {
    background-color: #5da423;
}

.listgrid-headerBtn.dropdown.split.secondary:hover, .listgrid-headerBtn.dropdown.split.secondary:focus {
    background-color: #e9e9e9;
}

.listgrid-headerBtn.dropdown.split > a {
    color: white;
    display: block;
    padding: 10px 50px 11px 20px;
    padding-left: 20px;
    padding-right: 50px;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

.listgrid-headerBtn.dropdown.split > a:hover, .listgrid-headerBtn.dropdown.split > a:focus {
    background-color: #2284a1;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.listgrid-headerBtn.dropdown.split.large > a {
    padding: 15px 75px 16px 30px;
    padding-left: 30px;
    padding-right: 75px;
}

.listgrid-headerBtn.dropdown.split.small > a {
    padding: 7px 35px 8px 14px;
    padding-left: 14px;
    padding-right: 35px;
}

.listgrid-headerBtn.dropdown.split.tiny > a {
    padding: 5px 25px 6px 10px;
    padding-left: 10px;
    padding-right: 25px;
}

.listgrid-headerBtn.dropdown.split > span {
    height: 16px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    background: #F5F5F5;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

.listgrid-headerBtn.dropdown.split > span:hover, .listgrid-headerBtn.dropdown.split > span:focus {
    background: #D2D2D2;
}

.listgrid-headerBtn.dropdown.split > span:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: #9d9d9d transparent transparent transparent;
    position: absolute;
    top: 50%;
    margin-left: 4px;
    margin-top: -2px;
}

.listgrid-headerBtn.dropdown.split.secondary > span:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: #1d1d1d transparent transparent transparent;
}

.listgrid-headerBtn.dropdown.split.large span {
    width: 45px;
}

.listgrid-headerBtn.dropdown.split.small span {
    width: 21px;
}

.listgrid-headerBtn.dropdown.split.tiny span {
    width: 15px;
}

.listgrid-headerBtn.dropdown.split.large span:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 7px;
    border-color: white transparent transparent transparent;
    margin-top: -3px;
    margin-left: -7px;
}

.listgrid-headerBtn.dropdown.split.small span:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 4px;
    border-color: white transparent transparent transparent;
    margin-top: -1px;
    margin-left: -4px;
}

.listgrid-headerBtn.dropdown.split.tiny span:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 3px;
    border-color: white transparent transparent transparent;
    margin-top: -1px;
    margin-left: -3px;
}

.listgrid-headerBtn.dropdown.split.alert > span {
    background-color: #c60f13;
    border-left-color: #7f0a0c;
}

.listgrid-headerBtn.dropdown.split.success > span {
    background-color: #5da423;
    border-left-color: #396516;
}

.listgrid-headerBtn.dropdown.split.secondary > span {
    background-color: #e9e9e9;
    border-left-color: #c3c3c3;
}

.listgrid-headerBtn.dropdown.split.secondary > a {
    color: #1d1d1d;
}

.listgrid-headerBtn.dropdown.split.alert > a:hover, .listgrid-headerBtn.dropdown.split.alert > span:hover, .listgrid-headerBtn.dropdown.split.alert > a:focus, .listgrid-headerBtn.dropdown.split.alert > span:focus {
    background-color: #970b0e;
}

.listgrid-headerBtn.dropdown.split.success > a:hover, .listgrid-headerBtn.dropdown.split.success > span:hover, .listgrid-headerBtn.dropdown.split.success > a:focus, .listgrid-headerBtn.dropdown.split.success > span:focus {
    background-color: #457a1a;
}

.listgrid-headerBtn.dropdown.split.secondary > a:hover, .listgrid-headerBtn.dropdown.split.secondary > span:hover, .listgrid-headerBtn.dropdown.split.secondary > a:focus, .listgrid-headerBtn.dropdown.split.secondary > span:focus {
    background-color: #d0d0d0;
}

.listgrid-headerBtn.nosplit {
	padding: 0;
}

.listgrid-headerBtn.nosplit > .listgrid-title {
    color: #222;
    display: block;
    padding: 8px 10px;
    cursor: default;
    overflow: hidden;
    max-width: 100%;
}

.listgrid-headerBtn.dropdown.split > .listgrid-title {
    color: #222;
    display: inline-block;
    cursor: default;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
}

.listgrid-headerBtn.dropdown button.listgrid-clear-sort {
    margin-left: 2px;
}

.listgrid-criteria-container {
    color: black;
}

.listgrid-criteria-container input {
	width: 100%;
	margin-bottom: 4px;
}

.listgrid-criteria-container .datepicker-container input {
    width: 95%;
}

.listgrid-headerBtn.dropdown > ul > li > div.filter-fields,
.listgrid-headerBtn.dropdown > ul > li > div.sort-fields {
    padding: 10px;
    text-align: center;
}

.table-width-container {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

input[type="text"].listgrid-criteria-input {
    margin: 0 0 5px;
}

button.listgrid-filter {
    margin-top:5px;
}

div.alert-box.list-grid-alert {
	padding: 0 0 0 7px;
	margin-bottom: 8px;
	font-size: 13px;
}

div.alert-box.list-grid-alert.save-alert {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0px;
	padding-right: 7px;
	background: none;
	border: none;
	color: #98B30A;
	text-shadow: none;
}

div.alert-box.list-grid-alert.save-alert a.close {
	display: none;
}

div.listgrid-container label {
	display: inline-block;
}

div.alert-box.list-grid-alert a.close {
	top: -5px;
}

td.list-grid-no-results {
	margin-bottom: 18px;
	text-align: center;
	padding: 5px;
}

table.list-grid-table {
	border-top: 0;
	margin-bottom: 0;
	border-radius: 0;
	border-collapse: collapse;
	background: #F5F5F5;
	table-layout: fixed;
	/*overflow: hidden;*/
    /*display: block;*/
}

table.list-grid-table thead {
	margin-right: 15px;
}

table.list-grid-table tbody {
	/*max-height: 460px;*/
	/*visibility: hidden;*/
}

table.list-grid-table thead,
table.list-grid-table tbody {
    /*display: block;*/
}

table.list-grid-table thead tr th,
table.list-grid-table tbody tr td {
    padding: 5px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tbody tr:nth-child(odd) {
    background: #FFF;
}

.listgrid-body-wrapper {
	background: #F5F5F5;
}

.listgrid-header-wrapper {
	background: #F5F5F5;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
}

.listgrid-header-wrapper table.list-grid-table {
	border-right: none;
	border-top: none;
}

.listgrid-header-wrapper table.list-grid-table thead tr th {
    overflow: visible;
}

.listgrid-header-wrapper table.list-grid-table thead tr th div.resizer {
	color: #DDD;
	right: -8px;
	position: absolute;
	display: inline-block;
	cursor: col-resize;
	background-color: #F5F5F5;
    padding: 0 1px;
}

table.list-grid-table thead tr.width-control-header {
	visibility: hidden;
}

table.list-grid-table thead tr.width-control-header th {
	padding: 0;
}

span.listgrid-table-spinner-container {
	text-align: center;
	display: none;
}

i.listgrid-table-spinner {
    position: absolute; 
    font-size: 20px;
}

.listgrid-container.single-listgrid span.listgrid-table-footer {
	margin-bottom: 0;
}

span.listgrid-table-footer {
	background-color: #EEE;
	display: block;
	padding: 4px 10px;
	border: 1px solid #DDD;
	border-top: none;
	min-height: 23px;
	margin-bottom: 18px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
}

ul.pagination-links {
	list-style-type: none;
	display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}

ul.pagination-links li {
	display: inline-block;
}

ul.pagination-links li a {
	border: 1px solid #DDD;
	padding: 0 6px;
	margin: 0 3px;
}

ul.pagination-links li a:hover,
ul.pagination-links li a.active {
	background: #006969;
	color: #FFF;
}	

.button {
	border: 0 !important;
	box-shadow: none !important;
}

.button.dark, .button.dark[disabled]:hover, .button.dark[disabled]:focus { 
	background-color: #424242;
	color: #F0F0F0;
}

.button.dark:hover, .button.dark:focus, .button.dark.active { 
	background-color: #006969; 
}

.button.secondary {
    background-color: #DFDFDF !important;
}

span.read-only {
	vertical-align: bottom;
	height: 22px;
	display: inline-block;
	
	/*
	padding: 0 5px;
	
	background-color: #E9E9E9;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	*/
}

ul.category-root {
	padding: 5px 0px 5px 15px;
	margin: 0;
	border: 1px solid #DDD;
}

ul.category-root, ul.category-root ul {
	list-style-type: none;
}

ul.category-root ul {
}

/* -----------------------------------------
   Magellan toolbar
----------------------------------------- */

ul.magellan-toolbar {
    border: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    background: #f1f1f1;
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top,  #f1f1f1 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top,  #f1f1f1 0%,#e2e2e2 100%);
    background: linear-gradient(to bottom,  #f1f1f1 0%,#e2e2e2 100%);
    z-index: 100;
    width: 100%;
    padding: 10px;
    margin:0;
}

ul.magellan-toolbar > li.divider {
    background: #ccc;
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    height: 100%;
    margin-right: 1px;
    width: 1px;
}

.listgrid-toolbar a.alert, ul.magellan-toolbar a.alert {
    color: #c60f13;
}

.listgrid-toolbar a.alert:hover, ul.magellan-toolbar a.alert:hover {
    color: #970b0e;
}

table.list-grid-table tr.clickable.selected {
	background-color: #CCDADD;
}

table.list-grid-table tr.clickable.selected:hover {
	background-color: #C0DAE0;
}

ul.inline-list.small-spacing li:first-child {
	margin-left: 22px;
}

ul.inline-list.small-spacing li {
	margin-left: 4px;
}

/* -----------------------------------------
   Rule Builder
----------------------------------------- */

.conditional {
    padding-left: 30px;
}

.conditional-rules-container >.conditional-rules > .conditional > .all-any-none-wrapper {
	margin-left: -30px;
}

.conditional .all-any-none-wrapper {
    margin: 0 20px 5px 0;
    display: -moz-inline-stack;
    display: inline-block;
}

.conditional .all-any-none-wrapper-removable {
	margin-left: 0;
}

.conditional > .rule > .remove {
    display: inline-block;
    vertical-align: middle;
}

a.remove-subcondition {
	position: relative;
	margin-left: -25px;
}


.rule-builder-simple > div > .conditional-rules > .conditional > .remove {
	display: none;
}

.rule-builder-complex > div > .conditional-rules > .conditional > .remove {
	display: none;
}

input[type="text"].conditional-qty {
    display: -moz-inline-stack;
    display: inline-block;	
    margin-right: 10px;
    width: 32px;
}
.conditional-spacer {
	margin-right: 10px;
}

.conditional-date-spacer {
	margin-left: 10px;
}

.conditional-rules-header {
	background: #CCC;
	margin-top: 10px;
	padding-left: 10px;
	margin-left: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

div.error {
	color: #760006;
}

.conditional-rules-container.required-conditional {
	border: none;
}

.conditional-rules-container {
	border: 1px solid #CCC;
	margin-top: -3px;
	margin-left: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.conditional-rules-container-mvel {
	border: 1px solid #CCC;
	margin-top: -3px;
	margin-left: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.add-item-rule {
	margin: 5px 20px 5px 0px;
	display: block;
}

a.add-main-condition {
	margin-top: 20px;
	display: inline-block;
}

.all-any-none {
    margin-right: 10px;
    width: 52px;
}

.all-any-none-wrapper, .conditional, .rule {
    margin: 10px 0 0;
}

.rule select,
.rule input[type="text"],
.rule input[type="date"],
.rule input[type="datetime"],
.rule input[type="email"],
.rule input[type="number"],
.rule input[type="tel"],
.rule input[type="time"],
.rule input[type="url"],
.rule textarea {
	margin-top: 0;
    margin-right: 10px;
    width: auto;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0 3px;
}

.rule input[type="text"],
.rule textarea {
	height: 23px;
    vertical-align: middle;
}

.add-rule, .add-condition, .remove {
    margin: auto 5px;
}

.add-rule, .add-condition, .remove, .add-item-rule {
    font-size: 12px;
}

form.custom div.conditional div.custom.dropdown {
    display:inline-block;
    margin-right: 10px;
}

.modal form {
	margin: 0;
}

.modal .tabs-container {
	margin: 0 -15px;
	padding: 0 15px;
}

.modal dl.tabs {
	margin-top: 10px;
}

.modal .modal-header {
	padding-bottom: 0;
}

body .redactor_toolbar li a.redactor_btn_selectAssetButton { 
	background-position: -200px; 
}

body .redactor_toolbar li a.redactor_btn_font { 
	background-image: url('../../img/admin/font-selection.png');
}

.category-tree {
	display: none;
}

/* -----------------------------------------
   Static Assets
----------------------------------------- */

button.show-asset-selector {
	vertical-align: text-bottom;
	bottom: 4px;
}

div.uploadMessage {
	display: none;
}

form.uploadFileForm {
}

form.uploadFileForm input[type="file"] {
	display: none;
}

div.imagePreviewContainer {
	width: 200px;
	height: 200px;
	float: left;
}

/* -----------------------------------------
   Login/Forgot Password Forms
----------------------------------------- */

.basic-form {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 50px auto 20px auto;
    padding: 30px 30px 10px 30px;
    max-width: 500px;
}

.basic-links {
    margin: 0 auto;
    padding-top: 20px;
    clear:both;
}

.basic-links > ul > li.divider {
    background: #ccc;
    -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    height: 100%;
    margin-right: 1px;
    width: 1px;
}

.logo {
    float: right;
    padding-bottom: 15px;
}