ul.entity-type-selection {
	list-style-type: none;
}

.hover-cursor:hover {
	cursor: pointer;
}

form.custom div.custom.dropdown { 
	margin-bottom: 2px !important;
}

div.additional-foreign-key-container {
}