ul.entity-type-selection {
	list-style-type: none;
}

.hover-cursor:hover {
	cursor: pointer;
}

form.custom div.custom.dropdown { 
	margin-bottom: 2px !important;
}

div.additional-foreign-key-container {
}

input.datepicker {
	display: inline-block;
}

.datepicker-container {
	display: block;
    white-space: nowrap;
}

.datepicker-container:hover, input.datepicker:hover {
	cursor: pointer;
}

.ui-datepicker-title,
.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
	font-size: 11px;
}

.ui-datepicker {
	width: 14em !important;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -20px; font-size: 11px; }
.ui-timepicker-div dl dt.ui_tpicker_time_label { margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; font-size: 11px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; font-size: 11px; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.ui-datepicker-buttonpane button { font-size: 11px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }