<div class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" th:classappend="${modalClass}">
    <div class="modal-header">
    
        <h3 id="myModalLabel" th:inline="text" th:switch="${modalHeaderType}">
            <span th:case="*" th:remove="tag">
                <span th:remove="tag" th:utext="'Export'" />
            </span>
        </h3>
        
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    
    <div class="modal-body">
        <div class="action-popup export-configure-prompt">
            <span class="message title" th:if="${title}" th:text="#{${title}}" />
        
            <blc:form th:action="@{${baseUrl}}" method="POST" class="export-file">
        
                <fieldset>
                    <legend th:text="#{export_format_type}" />
                    <label class="inline-select-label">
                        <select name="exportType">
                            <option th:each="format : ${exportFormats}" th:value="${format.type}" th:text="${format.friendlyType}"></option>
                        </select>
                    </label>
                </fieldset>
                
                <fieldset>
                    <legend th:text="#{export_encoding_type}" />
                    <label class="inline-select-label">
                        <select name="exportEncoding">
                            <option th:each="encoding : ${exportEncodings}" th:value="${encoding.type}" th:text="${encoding.friendlyType}"></option>
                        </select>
                    </label>
                </fieldset>
                
                <fieldset>
                    <legend th:text="#{export_sharable}" />
                    <label class="inline-checkbox-label">
                        <input type="checkbox" name="shareable" value="true">
                        <span th:text="#{export_sharable}" th:remove="tag"></span>
                    </label>
                </fieldset>
        
                <div class="actions">
                    <button class="small button radius dark export-schedule"
                            th:text="#{export_submit_button}"/>
                    <a href="#" class="action-popup-cancel" th:text="#{Cancel}" />
                </div>
                <img th:src="@{/img/admin/ajax-loader.gif}" class="ajax-loader" />
        
            </blc:form>
        </div>
    </div>
    
</div>