<dl class="tabs" th:if="${listGrid.listGridType == 'adorned_with_form'}">
    <dd class="active">
        <a id="adornedModalTab1Link" href="#adornedModalTab1" th:inline="text">1. Pick [[#{${listGrid.friendlyName}}]]</a>
    </dd>
    <dd>
        <a id="adornedModalTab2Link" href="#adornedModalTab2">2. Additional Fields</a>
    </dd>
</dl> 

<ul class="tabs-content">
    <li class="active adornedModalTab1Tab">
        <div class="listgrid-container">
            <div th:include="components/listGrid" th:object="${listGrid}" th:remove="tag" />
        </div>
    </li>
    
    <li class="adornedModalTab2Tab">
        <form th:include="components/entityForm"
            th:remove="tag"
            th:with="additionalClasses='modal-form'" />
    </li>
</ul>