<div class="adorned-select-wrapper">
    <div th:include="components/entityForm" th:with="additionalClasses='modal-form'" th:remove="tag"/>

    <div class="content-yield">
        <div th:if="${treeListGrid}" th:remove="tag">
            <div th:include="components/treeListGrid" th:remove="tag"
                 th:object="${treeListGrid}"
                 th:with="inModal=${inModal != null and inModal}, isLookup=${isLookup != null and isLookup}"/>
        </div>
        <div th:unless="${treeListGrid}" class="listgrid-container">
            <div th:include="components/listGrid" th:object="${listGrid}" th:remove="tag" />
        </div>
    </div>
</div>