<dl class="tabs">
    <dd class="active">
        <a id="uploadAssetTab1Link" href="#uploadAssetTab1">Upload</a>
    </dd>
    <dd>
        <a id="chooseExistingAssetTab3Link" href="#chooseExistingAssetTab3">Choose</a>
    </dd>    
</dl>    

<script>
$('#blcUploadButton').click(function() {
    $('#blcFileInputField').trigger('click');

});

function assetChanged() {
	$('#blcUploadButton').hide();
	$('#blcUploadingMessage').html("Loading ...");
	$('#blcUploadingMessage').show();
    $('#blcUploadFileForm').submit();
}

$('#upload_target').load(function(){
    var json = $.parseJSON($("#upload_target").contents().text());
    $("#imagePreview").attr("src",json.assetLarge);
    $('#blcUploadingMessage').hide();
    $('div.asset-selector-container').trigger('assetInfoSelected', json);
});

</script>

<!--  Work around for non-HTML5 browsers.   The upload request result will be sent to this iframe where it
  can be processed like ajax. -->
<iframe id="upload_target" name="upload_target" style="display: none; height: 10px; width: 10px;"></iframe>

<form method="post" id="blcUploadFileForm"
    enctype="multipart/form-data"  
    th:attr="action=@{${'/' + sectionKey + '/' + entityId + '/uploadAsset'}}"
    target="upload_target" >
    <input type="file" name="file" id="blcFileInputField" style="display:none;" onchange="assetChanged();"/>   
</form>     

<ul class="tabs-content">
    <li class="active" id="uploadAssetTab1Tab">
        <div style="width: 500px;">
            <div style="float: left; width: 250px;">
                <div class="imagePreviewContainer" style="width: 200px; height: 200px">
                    <img id="imagePreview" src="http://i.stack.imgur.com/yZlqh.png" />            
                </div>
            </div>
            <div class="uploadForm" style="float: left">
                <div id="blcUploadButton" class="button">Click to Upload</div> 
                <div id="blcUploadingMessage" style="display:none;">"Loading ..."</div>          
            </div>         
        </div>
    </li>   
    <li id="chooseExistingAssetTab3Tab">
        TODO
    </li>
</ul>