<div class="fieldset-card field-group listgrid-container entityform-listgrid inModal">
    <span class="translation-ceiling hidden" th:text="${form.ceilingEntity}" ></span>
    <span class="translation-id hidden" th:text="${form.entityId}" ></span>
    <span class="translation-property hidden" th:text="${form.propertyName}" ></span>
    <span class="translation-rte hidden" th:text="${form.isRte}" ></span>

    <div class="fieldgroup-listgrid-wrapper-header titlebar" th:classappend="${#lists.isEmpty(listGrid.records)} ? 'hidden-body'">
        <div class="titlebar-title">
            <span class="listgrid-total-records" th:if="${listGrid.totalRecords} == 1" th:text="'(' + ${listGrid.totalRecords} + ' Record)'"></span>
            <span class="listgrid-total-records" th:unless="${listGrid.totalRecords} == 1" th:text="'(' + ${listGrid.totalRecords} + ' Records)'"></span>
        </div>
        <th:block th:include="components/listGridToolbar" th:with="listGrid=${listGrid}"></th:block>
    </div>
    <div class="fieldgroup-listgrid-wrapper fieldset-card-content" th:classappend="${#lists.isEmpty(listGrid.records)} ? 'hidden'">
        <th:block th:include="components/listGrid" th:with="listGrid=${listGrid}, inModal=${inModal != null and inModal}"></th:block>
    </div>
</div>