<div class="asset-listgrid-container" th:attr="data-baseurl=@{${subTreeBaseUrl}}, data-collectionname=${collectionName}">
    <!-- Asset Ribbon -->
    <div th:include="views/modal/assetFolderRibbon" th:with="folderList=${assetGrid.parentFolders}"></div>

    <div class="select-group">
        <div class="select-column listgrid-container" th:attr="data-parentid=${currentFolder.folderId}">
            <div th:include="components/listGrid" th:with="listGrid=${currentFolder.subFolders}" th:remove="tag"></div>
        </div>

        <div class="asset-grid">
            <div type="hidden" id="treeParentPathJson" th:if="${treeParentPathJson != null}" th:attr="data-parentpathjson=${treeParentPathJson}"></div>
            <div class="asset-grid-container"
                 th:attr="data-recordranges=${assetGrid.startIndex + '-' + (assetGrid.startIndex + #lists.size(assetGrid.records) - 1)},
                        data-totalrecords=${assetGrid.totalRecords},
                        data-pagesize=${assetGrid.pageSize}">
                <div th:each="asset : ${assetGrid.records}" class="asset-item">

                    <div class="image-wrapper">
                        <img class="thumbnail"
                             th:src="@{${asset.fullUrl + '?largeAdminThumbnail'}}"
                             th:attr="data-fullurl=@{${asset.fullUrl}}, data-rowid=${asset.id}" />

                        <!-- Show VIEW icon if asset is locked -->
                        <div class="asset-actions" th:if="${asset.locked and not inModal}">
                            <a class="asset-grid-view" th:href="@{${'/assets/' + asset.id}}"><i class="fa fa-eye"></i></a>
                        </div>

                        <!-- Show EDIT icon if asset is not locked -->
                        <div class="asset-actions" th:if="${not asset.locked and not inModal}">
                            <a class="asset-grid-edit" th:href="@{${'/assets/' + asset.id}}"><i class="fa fa-pencil"></i></a>
                        </div>
                    </div>

                    <a th:if="${not asset.locked or inModal}" href="#" class="asset-name" th:text="${asset.name}"></a>
                    <span th:unless="${not asset.locked or inModal}" class="locked-name" th:text="${asset.name}"></span>

                    <div th:if="${asset.locked and not inModal}" class="asset-grid-lock">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="asset-listgrid-wrapper" style="display: none;">
            <div class="asset-listgrid listgrid-container" th:attr="data-parentid=${currentFolder.folderId}"
                 th:include="components/listGrid"
                 th:with="listGrid=${assetGrid.assetListGrid}">
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="uploadedId" name="uploadedId" th:value="${uploadedId}" />

