<comment th:remove="all">
    <!-- This component represents a tabbed entity form with collections -->
    <!-- Additional parameters that can be specified include: -->
    <!--    additionalClasses - any additional CSS classes to apply to the form -->
    <!--    additionalTabClasses - any additional CSS classes to apply to the tabs -->
    <!--    showSingleTab - boolean value determining whether or not to show tabs if there is only one -->
    <!--    hideTranslations - boolean value determining whether or not to hide the translation icon -->
    <!--    hideActions - boolean value determining whether or not to hide the entity form actions -->
</comment>

<div th:object="${entityForm}" th:with="renderTabs=${#lists.size(entityForm.tabs) > 1 or (showSingleTab != null and showSingleTab)}">

    <div class="section-tabs" th:if="${renderTabs}">

        <div class="errors" blc_admin:errors="*{*}" >
            <div th:if="${tabErrors}" th:remove="tag">
                <div class="tabError" th:each="tab : ${tabErrors.entrySet()}" th:inline="text">
                    <span th:if="${#lists.size(field.value) &gt; 1}" class="fieldError error" th:each="field : ${tab.value.entrySet()}">
                        <span th:remove="tag" th:utext="#{${field.key}}"></span>: <span th:each="message : ${field.value}">[[#{__${message}__}]]</span>
                    </span>
                    <span th:if="${#lists.size(field.value) == 1}" class="fieldError error" th:each="field : ${tab.value.entrySet()}">
                        <span th:remove="tag" th:utext="#{${field.key}}"></span>: <span th:remove="tag" th:utext="#{${field.value.get(0)}}"></span>
                    </span>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li th:each="tab, tabStat : ${entityForm.tabs}"
                th:class="${#ef.isTabActive(entityForm, tab)}? 'active'"
                th:if="${tab.hasFieldOrListGrid()}"
                role="presentation">
                <a th:href="'#tab' + ${tabStat.count}" th:class="${tabStat.first} ? 'first-tab'" th:classappend="${tab.tabClass}">
                    <span th:attr="data-tabkey=${tab.key}" th:utext="#{${tab.title}}"></span>
                    <i class="fa-pulse fa fa-spinner" style="display: none;"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="content-yield">
        <div class="row entity-edit">
            <blc:form th:object="${entityForm}"
                      method="POST"
                      th:classappend="${(additionalClasses == null ? '' : additionalClasses + ' ')
                         + (additionalControllerClasses == null ? '' : additionalControllerClasses)}"
                      th:action="@{${currentUrl}}">

                <input type="hidden" th:field="*{ceilingEntityClassname}" />
                <input type="hidden" th:field="*{entityType}" />
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{sectionCrumbs}"  />
                <input type="hidden" th:field="*{mainEntityName}" />
                <input type="hidden" name="preventSubmit" th:value="*{preventSubmit}" />
                <input type="hidden" name="jsErrorMapString" th:value="*{jsErrorMap}" />


                <div class="tabs-content" th:style="${verticalTabs}? 'margin-left: 250px;'">
                    <div th:each="tab : ${entityForm.tabs}"
                         th:class="'tab' + ${tabStat.count} + 'Tab entityFormTab' + ${tab.tabClass}"
                         th:classappend="${(tabStat.first and tab.isVisible) or ((tabStat.index > 1 and not entityForm.tabs[tabStat.index-1].isVisible) and tab.isVisible)}? 'active'"
                         th:inline="text">

                        <div class="col11">
                            <div class="row">
                                <fieldset th:each="group, groupStat : ${tab.fieldGroups}" th:remove="tag">

                                    <div class="fieldset-card field-group"
                                         th:if="${group.hasFieldOrListGrid()}"
                                         th:classappend="${(!group.isVisible ? 'hidden' : '') + (group.groupAttributes['additionalGroupClasses'] == null ? '' : ' ' + group.groupAttributes['additionalGroupClasses']) + (inModal != null and inModal ? ' inModal' : '')}">
                                        <div class="titlebar">
                                            <div class="titlebar-title">
                                                <span th:utext="#{${group.title}}"></span>
                                                <i class="fa fa-question-circle help-tip" th:unless="${#strings.isEmpty(group.toolTip)}" th:attr="data-tip=#{${group.toolTip}}"></i>
                                            </div>
                                        </div>
                                        <div class="fieldset-card-content">
                                            <comment th:remove="all">
                                                <!-- *** IMPORTANT *** -->
                                                <!-- When changing this block of code, make sure standaloneField.html is also updated -->
                                                <!-- *** IMPORTANT *** -->
                                            </comment>
                                            <th:block th:each="groupItem, groupItemStat : ${group.groupItems}">
                                                <th:block th:if="${groupItem.isField()}" th:with="field=${groupItem.field}">
                                                    <div th:if="${field.name}"
                                                         th:class="'field-group' + ${(field.isDirty ? ' dirty' : '')} + ${(field.disabled ? ' disabled' : '')} + ${(#fields.hasErrors('fields[__${field.name}__].value') ? ' has-error' : '')}"
                                                         blc_admin:component_id="${field}"
                                                         th:classappend="${!field.isVisible}? 'hidden'">

                                                        <div th:if="${field.fieldComponentRenderer == null or #strings.equals(field.fieldComponentRenderer, 'UNKNOWN')}" th:remove="tag">
                                                            <div th:substituteBy="${'fields/' + #strings.toLowerCase(field.fieldType)}"/>
                                                        </div>
                                                        <div th:unless="${field.fieldComponentRenderer == null or #strings.equals(field.fieldComponentRenderer, 'UNKNOWN')}" th:remove="tag">
                                                            <div th:substituteBy="${'fields/' + #strings.toLowerCase(field.fieldComponentRenderer)}"/>
                                                        </div>

                                                        <span th:if="${field.help}" class="field-help" th:utext="#{${field.help}}"></span>

                                                    </div>
                                                </th:block>
                                                <th:block th:if="${groupItem.isListGrid()}" th:with="listGrid=${groupItem.listGrid}">
                                                    <div th:id="${listGrid.subCollectionFieldName}"
                                                         class="listgrid-container fieldgroup-listgrid">
                                                        <div class="fieldgroup-listgrid-wrapper-header" th:classappend="${#lists.isEmpty(listGrid.records)} ? 'hidden-body'">
                                                            <span th:unless="${#strings.isEmpty(listGrid.friendlyName)}" class="listgrid-friendly-name" th:utext="#{${listGrid.friendlyName}}"></span>
                                                            <span class="listgrid-total-records" th:if="${listGrid.totalRecords} == 1" th:text="'(' + ${listGrid.totalRecords} + ' Record)'"></span>
                                                            <span class="listgrid-total-records" th:unless="${listGrid.totalRecords} == 1" th:text="'(' + ${listGrid.totalRecords} + ' Records)'"></span>
                                                            <div th:include="components/listGridToolbar" th:with="listGrid=${listGrid}" th:remove="tag"/>
                                                        </div>
                                                        <div class="fieldgroup-listgrid-wrapper" th:classappend="${#lists.isEmpty(listGrid.records)} ? 'hidden'">
                                                            <div th:include="components/listGrid" th:with="listGrid=${listGrid}, inModal=${inModal != null and inModal}" th:remove="tag"></div>
                                                        </div>
                                                    </div>
                                                </th:block>
                                            </th:block>
                                        </div>
                                    </div>
                                </fieldset>

                                <div th:if="${dynamicFormTemplateOverride == null}" th:remove="tag">
                                    <div th:if="${tabStat.first}" th:each="dynamicForm : *{dynamicForms}" th:remove="tag">
                                        <div th:include="components/dynamicForm" th:with="dynamicPropertyName=${dynamicForm.key}"></div>
                                    </div>
                                </div>

                                <div th:remove="tag" th:unless="${dynamicFormTemplateOverride == null}">
                                    <div th:replace="${dynamicFormTemplateOverride}"></div>
                                </div>

                                <fieldset th:each="listGrid : ${tab.listGrids}" th:remove="tag">
                                    <div class="fieldset-card field-group listgrid-container entityform-listgrid"
                                         th:id="${listGrid.subCollectionFieldName}">
                                        <div class="fieldgroup-listgrid-wrapper-header titlebar" th:classappend="${#lists.isEmpty(listGrid.records)} ? 'hidden-body'">
                                            <div class="titlebar-title">
                                                <span th:unless="${#strings.isEmpty(listGrid.friendlyName)}" class="listgrid-friendly-name" th:utext="#{${listGrid.friendlyName}}"></span>
                                                <span class="listgrid-total-records" th:if="${listGrid.totalRecords} == 1" th:text="'(' + ${listGrid.totalRecords} + ' Record)'"></span>
                                                <span class="listgrid-total-records" th:unless="${listGrid.totalRecords} == 1" th:text="'(' + ${listGrid.totalRecords} + ' Records)'"></span>
                                            </div>
                                            <div th:include="components/listGridToolbar" th:with="listGrid=${listGrid}" th:remove="tag"></div>
                                        </div>
                                        <div class="fieldgroup-listgrid-wrapper fieldset-card-content" th:classappend="${#lists.isEmpty(listGrid.records)} ? 'hidden'">
                                            <div th:include="components/listGrid" th:with="listGrid=${listGrid}, inModal=${inModal != null and inModal}" th:remove="tag"></div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="entity-form-actions">
                    <button th:each="action : ${entityForm.actions}"
                            class="button radius dark"
                            th:type="${action.buttonType}"
                            th:attr="data-action=${action.urlPostfix}"
                            th:classappend="${action.buttonClass}" th:unless="${hideActions}">
                        <i th:class="${action.iconClass}"></i>&nbsp;<span th:text="#{${action.displayText}}" th:remove="tag"></span>
                    </button>
                    <img th:src="@{/img/admin/ajax-loader.gif}" class="ajax-loader" />
                </div>
            </blc:form>
        </div>
    </div>
</div>

