<comment th:remove="all" xmlns:th="http://www.w3.org/1999/html">
<!-- This component represents a list grid toolbar -->
</comment>

<div class="listgrid-modal-actions">
    <th:block th:each="action : ${listGrid.activeModalRowActions}">
        <button th:disabled="${!#strings.contains(action.buttonClass,'additional-action')}"
                class="tiny radius dark row-action button primary"
                type="button"
                th:classappend="${action.buttonClass}"
                th:attr="data-urlpostfix=${action.urlPostfix},
                             data-listgridtype=@{${#strings.isEmpty(action.actionUrlOverride) ? (listGrid.path + action.urlPostfix) : action.actionUrlOverride} + ${listGrid.sectionCrumbRepresentation}},
                             data-actionurl=@{${#strings.isEmpty(action.actionUrlOverride) ? (listGrid.path + action.urlPostfix) : action.actionUrlOverride} + ${listGrid.sectionCrumbRepresentation}},
                             data-queryparams=${listGrid.sectionCrumbRepresentation},
                             data-listgridid=${#strings.replace(#strings.replace('listGrid-'+listGrid.listGridType+'-'+listGrid.subCollectionFieldName, '_', '-'), '.', '-')}">
            <i th:class="${action.iconClass}"></i>&nbsp;<th:block th:text="#{${action.displayText}}"></th:block>
        </button>
    </th:block>
</div>
