<comment th:remove="all">
<!-- This component represents a list grid toolbar -->
<!-- Additional parameters that can be specified include: -->
<!--    hideActionButtons - if set to true, will not render the sort/filter buttons -->
</comment>


<table class="list-grid-table responsive twelve table-hover"
       th:classappend="${listGrid.listGridType != 'inline'}? 'table-hover'"
       th:attr="data-listgridtype=${listGrid.listGridType},data-currenturl=${currentUrl}"
       blc_admin:component_id="${listGrid}">
    <thead>
        <tr>
            
            <th th:each="headerField : ${listGrid.headerFields}"
                th:class="${'th' + headerFieldStat.count}"
                th:inline="text"
                scope="col">

                <div href="#" class="listgrid-headerBtn split dropdown">
                    <div class="listgrid-title">
                        <i class="sort-icon"></i>&nbsp;[[#{${headerField.friendlyName}}]]
                    </div>

                    <span class="hide-for-small"></span>
                    <ul class="no-hover">
                        <li><a class="sort down" href="#">Sort A - Z</a></li>
                        <li><a class="sort up" href="#">Sort Z - A</a></li>
                        <li class="divider"></li>
                        <li>                                  
                            <div class="filter-fields" th:attr="data-action=@{${listGrid.path}}">
                                <input type="hidden" class="property-name"
                                    th:name="${'criteria[' + headerFieldStat.index + '].propertyId'}" th:value="${headerField.name}" />
                                <input type="hidden" class="property-sort" th:name="${'criteria[' + headerFieldStat.index + '].sortType'}" />
                                <label>Filter:</label>
                                <div class="listgrid-criteria" th:attr="data-field-index=${headerFieldStat.index}">
                                    <div class="listgrid-criteria-container">
                                        <div th:remove="element" 
                                        th:substituteby="${'fields/filter/' + #strings.toLowerCase(headerField.fieldType)}" />
                                    </div>
                                </div>
                                <a href="#" class="listgrid-filter button small radius">Filter</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </th>
            
            <th width="90">
                <div class="listgrid-headerBtn split dropdown">
                    <div class="listgrid-title">
                        <i class="sort-icon"></i>&nbsp;Id
                    </div>
                    
                    <span class="hide-for-small"></span>
                    <ul class="no-hover end">
                        <li><a class="sort down" href="#">Sort A - Z</a></li>
                        <li><a class="sort up" href="#">Sort Z - A</a></li>
                        <li class="divider"></li>
                        <li>                                  
                            <div class="filter-fields" th:attr="data-action=@{${listGrid.path}}">
                                <input type="hidden" class="property-name"
                                    th:name="${'criteria[' + #lists.size(listGrid.headerFields) + '].propertyId'}" value="id" />
                                <input type="hidden" class="property-sort" th:name="${'criteria[' + #lists.size(listGrid.headerFields) + '].sortType'}" />
                                <label>Filter:</label>
                                <div class="listgrid-criteria" th:attr="data-field-index=${#lists.size(listGrid.headerFields)}">
                                    <div class="listgrid-criteria-container">
                                        <div th:remove="element" 
                                        th:substituteby="${'fields/filter/id'}" />
                                    </div>
                                </div>
                                <a href="#" class="listgrid-filter button small radius">Filter</a>
                            </div>
                        </li>
                    </ul>
                    
               </div>
            </th>
            
        </tr>
    </thead>
    <tbody>
    
        <tr th:if="${#lists.isEmpty(listGrid.records)}">
            <td th:colspan="${#lists.size(listGrid.headerFields) + 1}" class="list-grid-no-results">
                (No records found)
            </td>
        </tr>
    
        <tr th:each="record : ${listGrid.records}"
            th:unless="${#lists.isEmpty(listGrid.records)}"
            th:classappend="${listGrid.listGridType != 'main'}? 'clickable'"
            th:attr="data-link=@{${record.path}}">
            
            <td th:each="headerField : ${record.listGrid.headerFields}"
                th:class="${'td' + headerFieldStat.count}"
                th:switch="${listGrid.listGridType}"
                th:with="field=${record.getField(headerField.name)}"
                th:attr="data-fieldname=${field.name},data-fieldvalue=${field.value}">
                
                <span th:case="'main'" th:remove="tag">
                    <a th:if="${headerFieldStat.first}" 
                        th:href="@{${record.path}}"
                        th:text="${#strings.isEmpty(field.displayValue) ? '(No value set)' : field.displayValue}" />
                        
                    <span th:if="${headerField.canLinkToExternalEntity}" th:remove="tag">
                       <span th:remove="tag" th:text="${field.displayValue}" />
                       <a th:href="@{${listGrid.path + '/' + field.entityViewPath}}" class="modal-view">
                            <i class="icon-external-link"></i>
                       </a>
                    </span>
                        
                    <span th:unless="${headerFieldStat.first or headerField.canLinkToExternalEntity}"
                          th:remove="tag" th:text="${field.displayValue}" />
                </span>
                
                <span th:case="*">                    
                    <span th:if="${headerField.canLinkToExternalEntity}" th:remove="tag">
                       <span th:remove="tag" th:text="${field.displayValue}" />
                       <a th:href="@{${listGrid.path + '/' + field.entityViewPath}}" class="modal-view">
                            <i class="icon-external-link"></i>
                       </a>
                    </span>
                    
                    <span th:if="${headerFieldStat.first and record.canLinkToExternalEntity}" th:remove="tag">
                       <span th:remove="tag" th:text="${field.displayValue}" />
                       <a th:href="@{${record.externalEntityPath}}" class="modal-view">
                             <i class="icon-external-link"></i>
                       </a>
                    </span>
                    
                    <span th:unless="${(headerFieldStat.first and record.canLinkToExternalEntity)
                                             or headerField.canLinkToExternalEntity}"
                          th:remove="tag" th:text="${field.displayValue}" />
                </span>
                
            </td>
            
            <td data-fieldname="id" th:text="${record.id}" th:attr="data-fieldvalue=${record.id}" />
            
        </tr>
    </tbody>
</table>
