<blc_admin:admin_field_builder fieldBuilder="${field.fieldBuilder}">

    <div class="field-label" th:if="${!field.required}" th:text="#{${field.friendlyName + '_Question'}}" />
 
    <div th:classappend="${field.styleClass}">
    
        <input type="hidden"
               th:id="${field.jsonFieldName}"
               th:name="'fields[\&#39;'+${field.jsonFieldName}+'\&#39;].value'"
               th:value="${field.json}"/>
               
        <div class="rule-builder-required-field" 
            th:if="${field.required}"
            th:attr="data-ruletype=${field.styleClass == 'rule-builder-simple' ? 'add-main-rule' : 'add-main-item-rule'}" />
               
        <div class="custom-checkbox rule-builder-checkbox" th:if="${!field.required}">
            <label th:for="${field.name + '-true'}" th:inline="text" style="font-weight: 400; display: inline-block;">
                <input type="radio" 
                    th:name="${field.name}" 
                    th:id="${field.name + '-true'}" 
                    th:class="${field.styleClass == 'rule-builder-simple' ? 'add-main-rule' : 'add-main-item-rule'}" 
                    th:attr="data-ruletype=${field.styleClass == 'rule-builder-simple' ? 'add-main-rule' : 'add-main-item-rule'}" 
                    th:checked="${!#arrays.isEmpty(field.dataWrapper.data)}" />
                <span style="margin-right: 10px;">
                    Yes
                </span>
            </label>
                
            <label th:for="${field.name + '-false'}" th:inline="text" style="font-weight: 400; display: inline-block;">
                <input type="radio" 
                    th:name="${field.name}" 
                    th:id="${field.name + '-false'}" 
                    class="clear-rules"
                    th:checked="${#arrays.isEmpty(field.dataWrapper.data)}" />
                <span style="margin-right: 10px;">
                    No
                </span>
            </label>
        </div>
        
        <div class="field-label" th:text="#{${field.friendlyName}}" 
            th:classappend="${!field.required ? 'conditional-rules-header' : ''}"
            th:style="${(#arrays.isEmpty(field.dataWrapper.data) and !field.required) ? 'display: none;' : ''}" />
    
        <div class="conditional-rules-container" 
            th:classappend="${field.required ? 'required-conditional' : ''}"
            th:style="${(#arrays.isEmpty(field.dataWrapper.data) and !field.required) ? 'display: none;' : ''}"
            th:id="${field.name}"></div>
    
    </div>
    
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            var hiddenId = /*[[${field.jsonFieldName}]]*/ {};
            var containerId = /*[[${field.name}]]*/ {};
            var fields = /*[[${fieldWrapper}]]*/ {};
            var data = /*[[${field.dataWrapper}]]*/ {};
            
            var condition = BLCAdmin.conditions.addCondition(hiddenId, containerId, fields, data);
            
            $('#' + condition.containerId).conditionsBuilder(condition.json);
            condition.builder = $('#' + condition.containerId).conditionsBuilder('builder');
        });
        /*]]>*/
    </script>
    
</blc_admin:admin_field_builder>