<div class="listgrid-search row">

    <div class="col6">
        <div th:substituteby="components/listGridToolbar" />
    </div>

    <div class="col6" style="white-space: nowrap;">
        <form class="custom-entity-search" th:action="${currentUrl}" method="GET">
            <input id="listgrid-search" type="search" name="table-search" style="height:36px;vertical-align:bottom;width:300px;display: inline-block;"
                   th:placeholder="#{Search_Placeholder(#{${listGrid.headerFields[0].friendlyName}}, #{${entityFriendlyName}})}" />
            <div class="listgrid-search-actions">
                <button class="button primary search-button" th:inline="text" th:utext="#{Search}"></button>

                <!-- Filter information -->
                <button class="button filter-button" th:inline="text" th:utext="#{Filter}" th:attr="data-hiddenid=${listGrid.jsonFieldName}"></button>

                <div class="filter-builder-data" style="display: none;"
                     th:attr="data-hiddenid=${listGrid.jsonFieldName},
                     data-containerid=${listGrid.friendlyName},
                     data-fields=${listGrid.fieldWrapper.serialize()},
                     data-data=${listGrid.dataWrapper.serialize()}">
                </div>

                <input type="hidden"
                       th:id="${listGrid.jsonFieldName}"
                       th:name="${listGrid.friendlyName}"
                       value="{&quot;data&quot;:[]}"/>

                <div class="query-builder-filters-container" th:id="${listGrid.friendlyName}" style="display: none;"></div>
            </div>
        </form>
    </div>
</div>
