<div class="listgrid-search row">
    <div th:class="${!inModal}? 'col6' : ''">
        <!-- Search box -->
        <form class="custom-tree-search" th:action="${currentUrl}" method="GET">
            <input id="tree-listgrid-search" type="search" name="table-search"
                   th:each="column, iterStat : ${treeListGrid.treeListGridColumns}"
                   th:if="${iterStat.index == 0}"
                   th:with="listGrid=${column.listGrid}"
                   th:placeholder="#{Search_Placeholder(#{${entityFriendlyName}} + ' ' + ${overrideSearchString})}" />
            <div class="listgrid-search-actions">
                <button class="button primary tree-search-button" th:inline="text" th:utext="#{Search}"></button>
            </div>
        </form>
    </div>
</div>

<div class="tree-listgrid-container" th:attr="data-baseurl=@{${subTreeBaseUrl}}, data-collectionname=${collectionName}">
    <div class="tree-ribbon">
        <div class="tree-title-container">
            <span class="tree-title"></span>

            <div class="tree-title-actions" th:if="${!inModal or isLookup}">
                <!-- Grid Functions -->
                <a class="tree-list-view active" href="#"><i class="fa fa-columns"></i></a>
                <a class="search-list-view" href="#"><i class="fa fa-list"></i></a>
            </div>
        </div>
    </div>
    <div class="select-group">
        <div class="tree-column-wrapper" th:style="'width: ' + ${320 * #arrays.length(treeListGrid.treeListGridColumns)} + 'px; height: 400px;'">
            <div type="hidden" id="treeParentPathJson" th:if="${treeParentPathJson != null}"
                 th:attr="data-parentpathjson=${treeParentPathJson}" />
            <div class="select-column listgrid-container"
                 th:each="column, iterStat : ${treeListGrid.treeListGridColumns}"
                 th:attr="data-parentid=${column.parentId}, data-columndepth=${iterStat.index}">
                <div th:include="components/listGrid" th:with="listGrid=${column.listGrid}" th:remove="tag" />
            </div>
        </div>

        <div class="tree-search-wrapper listgrid-container" th:include="components/listGrid" th:with="listGrid=${listGrid}" />
    </div>
</div>



