<div class="tree-listgrid-container" th:attr="data-baseurl=@{${subTreeBaseUrl}}, data-collectionname=${collectionName}">

    <!-- Form for add new entity -->
    <blc:form method="POST" id="add-entity-form" style="display:none;"></blc:form>

    <div class="tree-ribbon">
        <div class="tree-title-container">
            <span class="tree-title">
                <span th:remove="tag" th:unless="${inModal}" th:text="${entityFriendlyName} ? #{${entityFriendlyName}} + ' ' : ''"/>
                <span th:remove="tag" th:if="${inModal} and ${collectionProperty != null} and ${#strings.isEmpty(collectionProperty.metadata.friendlyName)}"
                      th:text="#{${collectionProperty.metadata.name}}" />
                <span th:remove="tag" th:if="${inModal} and ${collectionProperty != null}"
                      th:unless="${#strings.isEmpty(collectionProperty.metadata.friendlyName)}"
                      th:text="#{${collectionProperty.metadata.friendlyName}}" />
                Hierarchy
            </span>
        </div>
    </div>
    <div class="select-group">
        <div class="select-column-wrapper" th:style="'width: ' + ${320 * #arrays.length(treeListGrid.treeListGridColumns)} + 'px; height: 400px;'">
            <div type="hidden" id="treeParentPathJson" th:if="${treeParentPathJson != null}"
                 th:attr="data-parentpathjson=${treeParentPathJson}" />
            <div class="select-column listgrid-container"
                 th:each="column, iterStat : ${treeListGrid.treeListGridColumns}"
                 th:attr="data-parentid=${column.parentId}, data-columndepth=${iterStat.index}">
                <div th:include="components/listGrid" th:with="listGrid=${column.listGrid}" th:remove="tag" />
            </div>
        </div>
    </div>
</div>



