<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.2.xsd">

	<sec:global-method-security secured-annotations="enabled"/>

    <sec:http auto-config="true">
        <!-- Restrict URLs based on role -->
        <sec:intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <sec:intercept-url pattern="/logoutSuccess*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <sec:intercept-url pattern="/css/login.css" filters="none" />
        <sec:intercept-url pattern="/images/signInBox.gif" filters="none" />
        <sec:intercept-url pattern="/images/mpowerLogo.gif" filters="none" />
        <sec:intercept-url pattern="/images/favicon.ico" filters="none" />
        <sec:intercept-url pattern="/css/main.css" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <sec:intercept-url pattern="/js/jquery.js" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <sec:intercept-url pattern="/js/jquery.cookie.js" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <sec:intercept-url pattern="/**" access="ROLE_USER" />
        <sec:form-login login-page="/login.jsp"
                             login-processing-url="/loginProcess"
                             default-target-url="/index.jsp"
                             authentication-failure-url="/login.jsp?login_error=1" />
        <sec:logout logout-url="/logout" logout-success-url="/login.jsp" />
    </sec:http>

    <sec:authentication-provider user-service-ref="userDetailsService">
    	<sec:password-encoder hash="md5"/>
	</sec:authentication-provider>

</beans>
