<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


    <sec:http >
        <sec:intercept-url pattern="/**" filters="none" />
        <sec:anonymous />
        <sec:http-basic />
        <sec:logout />
            <!-- sec:anonymous/ -->
        <!-- sec:intercept-url pattern="/secure/extreme/**" access="ROLE_SUPERVISOR" />
        <sec:intercept-url pattern="/secure/**" access="ROLE_USER" />
        <sec:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" / -->
        <!--  sec:intercept-url pattern="/**" filters="none"/-->
    </sec:http>
    
    <sec:authentication-manager alias="blAuthenticationManager">
        <sec:authentication-provider user-service-ref="userDetailsManager">
            <sec:password-encoder hash="plaintext"/>
        </sec:authentication-provider>
    </sec:authentication-manager>
    
    <sec:jdbc-user-service  
            data-source-ref="webDS"
            id="blUserDetailsService" 
            users-by-username-query="select user_name,password,true from BLC_CUSTOMER where user_name=?"
            authorities-by-username-query="select c.user_name,r.role_name from BLC_CUSTOMER c 
                                          join blc_customer_role cr on c.customer_id = cr.customer_id 
                                          join blc_role r on cr.role_id = r.role_id 
                                          where user_name=?"
     />  
    
    <bean id="userDetailsManager" class="org.springframework.security.provisioning.JdbcUserDetailsManager">
        <property name="dataSource" ref="webDS"/>
        <property name="authenticationManager" ref="blAuthenticationManager"/>
        <property name="enableGroups" value="false"/>
        <property name="enableAuthorities" value="true"/>
        <property name="usersByUsernameQuery" 
            value="SELECT login AS username, password, 'true' as enabled FROM BLC_ADMIN_USER WHERE login = ?"/>
        <property name="authoritiesByUsernameQuery" 
            value="SELECT DISTINCT au.login AS username, ap.name AS authority FROM BLC_ADMIN_USER au 
                JOIN BLC_ADMIN_USER_ROLE_XREF aurx ON au.admin_user_id = aurx.admin_user_id 
                JOIN BLC_ADMIN_ROLE ar ON aurx.admin_role_id = ar.admin_role_id 
                JOIN BLC_ADMIN_ROLE_PERMISSION_XREF arpx ON ar.admin_role_id = arpx.admin_role_id 
                JOIN BLC_ADMIN_PERMISSION ap ON arpx.admin_permission_id = ap.admin_permission_id 
                WHERE au.login = ?"/>
    </bean>

    <!--
        ===============================================================================================
    -->
    <!--
        Encode the passwords using ShaPasswordEncoder
    -->
    <!--
        ===============================================================================================
    -->
    <bean id="passwordEncoder"
        class="org.springframework.security.authentication.encoding.ShaPasswordEncoder" />

</beans>
