<comment th:remove="all">
<!-- This component represents a list grid toolbar -->
<!-- Additional parameters that can be specified include: -->
<!--    hideActionButtons - if set to true, will not render the add/update/delete buttons -->
</comment>

<div class="listgrid-toolbar">
        
    <div th:remove="tag"
        th:if="${(hideActionButtons == null or hideActionButtons == 'false') and (listGrid.subCollectionFieldName != null)}">
        
        <ul class="inline-list">
            <li th:each="action : ${listGrid.toolbarActions}">
                <a th:class="${action.anchorClass}"
                    th:href="@{${listGrid.path + action.urlPostfix}}">
                    <i th:class="${action.iconClass}" style="font-size: 16px;"></i>&nbsp;<span th:text="${action.displayText}" th:remove="tag" />
                </a>
            </li>
        </ul>
    </div>
</div>