<comment th:remove="all">
<!-- This component represents a list grid toolbar -->
<!-- Additional parameters that can be specified include: -->
<!--    hideActionButtons - if set to true, will not render the add/update/delete buttons -->
</comment>

<div class="listgrid-toolbar">
        
    <div th:remove="tag"
        th:if="${(hideActionButtons == null or hideActionButtons == 'false') and (listGrid.subCollectionFieldName != null)}">
        
        <ul class="inline-list">
            <li>
                <a class="sub-list-grid-add"
                    th:href="@{${'/' + sectionKey + '/' + entityForm.id + '/' + listGrid.subCollectionFieldName + '/add'}}">
                    <i class="foundicon-add-doc"></i>&nbsp;Add
                </a>
            </li>
            
<!--             <li> -->
<!--                 <a href="#" class="alert sub-list-grid-remove"><i class="foundicon-minus"></i>&nbsp;Remove</a> -->
<!--             </li> -->
            
<!--             <li th:if="${listGrid.editable}"> -->
<!--                 <a href="#" class="alert sub-list-grid-update"><i class="foundicon-edit"></i>&nbsp;Update</a> -->
<!--             </li> -->
        </ul>
    </div>
</div>