<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

    <!-- This was not getting picked up.  -->
    <bean id="blConfiguration" class="org.broadleafcommerce.common.config.RuntimeEnvironmentPropertiesConfigurer">
   		<property name="propertyLocations">
   			<set>
   				<value>classpath:config/bc/cms/</value>
   			</set>
   		</property>
   		<property name="environments">
   			<set>
                   <value>production</value>
                   <value>staging</value>
                   <value>integrationqa</value>
                   <value>integrationdev</value>
                   <value>development</value>
                   <value>local</value>
   			</set>
   		</property>
   		<property name="defaultEnvironment" value="development"/>
   		<property name="ignoreUnresolvablePlaceholders" value="true"/>
   	</bean>

    <context:component-scan base-package="org.broadleafcommerce.cms"/>

    <aop:config/>

    <!-- This resolver locates the "blStaticAssetView" ViewResolver using its bean name. -->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1"/>
    </bean>

    <bean id="blStaticAssetView" class="org.broadleafcommerce.cms.web.file.StaticAssetView"/>

    <bean id="blStaticAssetViewController" class="org.broadleafcommerce.cms.web.file.StaticAssetViewController">
        <property name="assetServerUrlPrefix" value="${asset.server.url.prefix.internal}"/>
        <property name="viewResolverName" value="blStaticAssetView"/>
    </bean>

    <bean id="blStaticAssetURLHandlerMapping" class="org.broadleafcommerce.cms.web.BroadleafCmsSimpleUrlHandlerMapping">
        <property name="order" value="0"/>
        <property name="alwaysUseFullPath" value="true"></property>
        <property name="mappings">
            <map>
                <entry key="/**/${asset.server.url.prefix.internal}/**" value-ref="blStaticAssetViewController"/>
            </map>
        </property>
    </bean>

</beans>