#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


    <sec:http access-decision-manager-ref="blAccessDecisionManager">
        <sec:anonymous granted-authority="PERMISSION_ANONYMOUS" enabled="true"/>
        <sec:intercept-url pattern="/css/**" filters="none"/>
        <sec:intercept-url pattern="/images/**" filters="none"/>
        <sec:intercept-url pattern="/js/**" filters="none"/>
        <sec:intercept-url pattern="/utility.service" filters="none" />
        <sec:intercept-url pattern="/security.service" access="PERMISSION_OTHER_DEFAULT, PERMISSION_ANONYMOUS" />
        <sec:intercept-url pattern="/${package}.gwt.mycompanyAdmin/admin/**" filters="none" />
        <sec:intercept-url pattern="/${package}.gwt.mycompanyAdmin/**" access="PERMISSION_OTHER_DEFAULT" />
        <sec:intercept-url pattern="/admin*" access="PERMISSION_OTHER_DEFAULT" />
        <sec:intercept-url pattern="/admin/*" access="PERMISSION_OTHER_DEFAULT" />
        <sec:intercept-url pattern="/*.service" access="PERMISSION_OTHER_DEFAULT" />
        <sec:form-login login-page='/blcadmin/login' default-target-url='/admin.html' authentication-failure-url="/blcadmin/login?login_error=true" login-processing-url="/admin/login_admin_post"/>
   		<sec:custom-filter ref="blAdminLogoutFilter" position="LOGOUT_FILTER" />
   		<sec:remember-me services-ref="blRememberMeServices"/>
    </sec:http>

    <bean id="blRememberMeServices" class="org.broadleafcommerce.common.security.EnhancedTokenBasedRememberMeServices">
		<property name="key" value="SPRING_SECURITY_REMEMBER_ME_COOKIE"/>
	</bean>

	<bean id="blRememberMeAuthenticationProvider" class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
		<property name="key" value="SPRING_SECURITY_REMEMBER_ME_COOKIE"/>
	</bean>

    <!--  bean id="passwordEncoder" class="org.springframework.security.providers.encoding.Md5PasswordEncoder"/ -->

    <sec:authentication-manager alias="blAuthenticationManager">
		<sec:authentication-provider user-service-ref="userDetailsManager">
			<sec:password-encoder hash="plaintext" />
		</sec:authentication-provider>
        <sec:authentication-provider ref="blRememberMeAuthenticationProvider"/>
	</sec:authentication-manager>

    <bean id="blAdminUserDetailsService" class="org.broadleafcommerce.openadmin.server.security.service.AdminUserDetailsServiceImpl"/>

    <alias name="blAdminUserDetailsService" alias="userDetailsManager"/>

    <bean id="blAccessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<property name="decisionVoters">
			<list>
				<bean class="org.springframework.security.access.vote.RoleVoter">
					<property name="rolePrefix" value="PERMISSION_" />
				</bean>
			</list>
		</property>
	</bean>

    <sec:global-method-security access-decision-manager-ref="blAccessDecisionManager" secured-annotations="enabled" />

    <bean id="blAdminLogoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<constructor-arg>
			<bean class="org.broadleafcommerce.common.security.BroadleafAdminLogoutSuccessHandler">
				<property name="defaultTargetUrl" value="/admin.html"/>
			</bean>
		</constructor-arg>
		<constructor-arg>
			<list>
				<ref local="blRememberMeServices" />
				<bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</list>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/adminLogout.htm" />
	</bean>

</beans>