<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-2.5.xsd
                        http://www.springframework.org/schema/aop      http://www.springframework.org/schema/aop/spring-aop.xsd">
    
    <aop:config/>
    
    <bean id="urlMapping" class="com.gwtincubator.security.server.GWTSecuredHandler">
        <property name="mappings">
            <map>
                <entry key="/**/security.service" value-ref="blAdminSecurityRemoteService" />
                <entry key="/**/dynamic.entity.service" value-ref="blDynamicEntityRemoteService" />
            </map>
        </property>
    </bean>
	
</beans>