<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    	http://www.springframework.org/schema/security
    	http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<bean id="springSecurityFilterChain" class="org.springframework.security.web.FilterChainProxy">
		<sec:filter-chain-map path-type="ant">
			<!--<sec:filter-chain pattern="/wishlist/**" filters="httpSessionContextIntegrationFilter, 
				subaccountLogoutFilter, subaccountAuthenticationProcessingFilter, securityContextHolderAwareRequestFilter, 
				subaccountExceptionTranslationFilter, sessionFixationProtectionFilter, subaccountFilterSecurityInterceptor" 
				/> -->
			<sec:filter-chain pattern="/css/**" filters="none" />
			<sec:filter-chain pattern="/images/**" filters="none" />
			<sec:filter-chain pattern="/js/**" filters="none" />
            <sec:filter-chain pattern="/utility.service" filters="none" />
            <sec:filter-chain pattern="/org.broadleafcommerce.admin.demoAdmin/**"
				filters="
                	blSecurityContextPersistenceFilterWithASCTrue,
                	blAdminLogoutFilter,
                	blAdminAuthenticationProcessingFilter,
                	blRequestWrapperFilter,
                	blAdminRememberMeAuthenticationFilter,
                	blAdminExceptionTranslationFilter,
                	blAdminFilterSecurityInterceptor" />
            <sec:filter-chain pattern="/admin*"
				filters="
                	blSecurityContextPersistenceFilterWithASCTrue,
                	blAdminLogoutFilter,
                	blAdminAuthenticationProcessingFilter,
                	blRequestWrapperFilter,
                	blAdminRememberMeAuthenticationFilter,
                	blAdminExceptionTranslationFilter,
                	blAdminFilterSecurityInterceptor" />
			<sec:filter-chain pattern="/admin/*"
				filters="
                	blSecurityContextPersistenceFilterWithASCTrue,
                	blAdminLogoutFilter,
                	blAdminAuthenticationProcessingFilter,
                	blRequestWrapperFilter,
                	blAdminRememberMeAuthenticationFilter,
                	blAdminExceptionTranslationFilter,
                	blAdminFilterSecurityInterceptor" />
            <sec:filter-chain pattern="/*.service"
				filters="
                	blSecurityContextPersistenceFilterWithASCTrue,
                	blAdminLogoutFilter,
                	blAdminAuthenticationProcessingFilter,
                	blRequestWrapperFilter,
                	blAdminRememberMeAuthenticationFilter,
                	blAdminExceptionTranslationFilter,
                	blAdminFilterSecurityInterceptor" />
			<sec:filter-chain pattern="/**"
				filters="
                	blSecurityContextPersistenceFilterWithASCTrue,
                	blLogoutFilter,
                	blAuthenticationProcessingFilter,
                	blRequestWrapperFilter,
                	blRememberMeAuthenticationFilter,
                	blCustomerStateFilter,
                	blExceptionTranslationFilter,
                	blFilterSecurityInterceptor" />
		</sec:filter-chain-map>
	</bean>

	<bean id="blRequestWrapperFilter"
		class="org.springframework.security.web.servletapi.SecurityContextHolderAwareRequestFilter" />

	<bean id="blRememberMeServices"
		class="org.broadleafcommerce.profile.web.core.security.EnhancedTokenBasedRememberMeServices">
		<property name="key" value="SPRING_SECURITY_REMEMBER_ME_COOKIE" />
		<property name="userDetailsService" ref="blUserDetailsService" />
	</bean>

	<bean id="blSecurityContextPersistenceFilterWithASCTrue"
		class="org.springframework.security.web.context.SecurityContextPersistenceFilter">
		<property name='securityContextRepository'>
			<bean
				class='org.springframework.security.web.context.HttpSessionSecurityContextRepository'>
				<property name='allowSessionCreation' value='true' />
			</bean>
		</property>
	</bean>

	<bean id="blRememberMeAuthenticationFilter"
		class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<property name="rememberMeServices" ref="blRememberMeServices" />
		<property name="authenticationManager" ref="blAuthenticationManager" />
	</bean>

	<bean id="blLogoutFilter"
		class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<constructor-arg>
			<bean
				class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler" />
		</constructor-arg>
		<constructor-arg>
			<list>
				<ref local="blRememberMeServices" />
				<bean
					class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</list>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/logout.htm" />
	</bean>

	<bean id="blCustomerStateFilter"
		class="org.broadleafcommerce.profile.web.core.security.CustomerStateFilter" />

	<bean id="blRememberMeAuthenticationProvider"
		class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
		<property name="key" value="SPRING_SECURITY_REMEMBER_ME_COOKIE" />
	</bean>

	<sec:jdbc-user-service data-source-ref="webDS"
		id="blUserDetailsService"
		users-by-username-query="SELECT USER_NAME,PASSWORD,TRUE FROM BLC_CUSTOMER WHERE USER_NAME=?"
		authorities-by-username-query="SELECT c.USER_NAME,r.ROLE_NAME from BLC_CUSTOMER c 
	                                      JOIN BLC_CUSTOMER_ROLE cr ON c.CUSTOMER_ID = cr.CUSTOMER_ID 
	                                      JOIN BLC_ROLE r ON cr.ROLE_ID = r.ROLE_ID 
	                                      WHERE USER_NAME=?" />

	<bean id="broadleafAuthenticationFailureHandler"
		class="org.broadleafcommerce.profile.web.core.security.BroadleafAuthenticationFailureHandler">
		<constructor-arg value="/registerCustomer/registerCustomer.htm?error=true" />
		<property name="redirectStrategy" ref="redirectStrategy" />
	</bean>

	<bean id="springAuthenticationSuccessHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="redirectStrategy" ref="redirectStrategy" />
		<property name="defaultTargetUrl" value="/welcome.htm" />
		<property name="alwaysUseDefaultTargetUrl" value="true" />
	</bean>

	<bean id="redirectStrategy"
		class="org.broadleafcommerce.profile.web.core.security.LocalRedirectStrategy">
		<property name="enforcePortMatch" value="true" />
	</bean>

	<bean id="blAuthenticationProcessingFilter"
		class="org.springframework.security.web.authentication.AuthenticationProcessingFilter">
		<property name="authenticationManager" ref="blAuthenticationManager" />
		<property name="authenticationFailureHandler" ref="broadleafAuthenticationFailureHandler" />
		<property name="authenticationSuccessHandler" ref="springAuthenticationSuccessHandler" />
		<property name="filterProcessesUrl" value="/login_post.htm" />
        <property name="rememberMeServices" ref="blRememberMeServices"/>
	</bean>

	<bean id="blExceptionTranslationFilter"
		class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint">
			<bean
				class="org.springframework.security.web.authentication.AuthenticationProcessingFilterEntryPoint">
				<property name="loginFormUrl" value="/registerCustomer/registerCustomer.htm" />
			</bean>
		</property>
	</bean>

	<bean id="blFilterSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<property name="accessDecisionManager">
			<bean class="org.springframework.security.access.vote.UnanimousBased">
				<property name="decisionVoters">
					<list>
						<bean class="org.springframework.security.access.vote.RoleVoter" />
					</list>
				</property>
			</bean>
		</property>
		<property name="authenticationManager" ref="blAuthenticationManager" />
		<property name="securityMetadataSource">
			<sec:filter-security-metadata-source>
				<sec:intercept-url pattern="/wishlist/**" access="ROLE_USER" />
			</sec:filter-security-metadata-source>
		</property>
	</bean>
	
	<!-- admin section -->
	
	<bean id="blAdminAuthenticationProcessingFilter"
		class="org.springframework.security.web.authentication.AuthenticationProcessingFilter">
		<property name="authenticationManager" ref="blAuthenticationManager" />
		<property name="authenticationFailureHandler" ref="broadleafAdminAuthenticationFailureHandler" />
		<property name="authenticationSuccessHandler" ref="springAdminAuthenticationSuccessHandler" />
		<property name="filterProcessesUrl" value="/admin/login_admin_post" />
        <property name="rememberMeServices" ref="blAdminRememberMeServices"/>
	</bean>

    <bean id="blAdminLogoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<constructor-arg>
			<bean class="org.broadleafcommerce.profile.web.core.security.BroadleafAdminLogoutSuccessHandler">
				<property name="defaultTargetUrl" value="/admin.html"/>
			</bean>
		</constructor-arg>
		<constructor-arg>
			<list>
				<ref local="blRememberMeServices" />
				<bean
					class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</list>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/adminLogout.htm" />
	</bean>
	
	<bean id="broadleafAdminAuthenticationFailureHandler"
		class="org.broadleafcommerce.profile.web.core.security.BroadleafAuthenticationFailureHandler">
		<constructor-arg value="/login.jsp?login_error=true" />
		<property name="redirectStrategy" ref="redirectStrategy" />
	</bean>

	<bean id="springAdminAuthenticationSuccessHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<property name="redirectStrategy" ref="redirectStrategy" />
		<property name="defaultTargetUrl" value="/admin.html" />
		<property name="alwaysUseDefaultTargetUrl" value="false" />
	</bean>
	
	<bean id="blAdminRememberMeAuthenticationFilter"
		class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<property name="rememberMeServices" ref="blAdminRememberMeServices" />
		<property name="authenticationManager" ref="blAuthenticationManager" />
	</bean>
	
	<bean id="blAdminRememberMeServices"
		class="org.broadleafcommerce.profile.web.core.security.EnhancedTokenBasedRememberMeServices">
		<property name="key" value="SPRING_SECURITY_REMEMBER_ME_COOKIE" />
		<property name="userDetailsService" ref="userDetailsManager" />
	</bean>
	
	<bean id="blAdminExceptionTranslationFilter"
		class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint">
			<bean
				class="org.springframework.security.web.authentication.AuthenticationProcessingFilterEntryPoint">
				<property name="loginFormUrl" value="/login.jsp" />
			</bean>
		</property>
	</bean>
	
	<bean id="blAdminFilterSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<property name="accessDecisionManager" ref="blAccessDecisionManager"/>
		<property name="authenticationManager" ref="blAuthenticationManager" />
		<property name="securityMetadataSource">
			<sec:filter-security-metadata-source>
				<sec:intercept-url pattern="/admin.html*" access="PERMISSION_OTHER_DEFAULT" />
				<sec:intercept-url pattern="/dynamic.entity.service" access="PERMISSION_OTHER_DEFAULT" />
			</sec:filter-security-metadata-source>
		</property>
	</bean>
	
	<bean id="blAccessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
		<property name="decisionVoters">
			<list>
				<bean class="org.springframework.security.access.vote.RoleVoter">
					<property name="rolePrefix" value="PERMISSION_" />
				</bean>
			</list>
		</property>
	</bean>
	
	<sec:global-method-security access-decision-manager-ref="blAccessDecisionManager" secured-annotations="enabled" />
		
	<sec:authentication-manager alias="blAuthenticationManager">
		<sec:authentication-provider
			user-service-ref="userDetailsManager">
			<sec:password-encoder hash="plaintext" />
		</sec:authentication-provider>
		<sec:authentication-provider
			user-service-ref="blUserDetailsService">
			<sec:password-encoder ref="blPasswordEncoder" />
		</sec:authentication-provider>
		<sec:authentication-provider ref="blRememberMeAuthenticationProvider" />
	</sec:authentication-manager>
	
	<bean id="userDetailsManager"
		class="org.springframework.security.provisioning.JdbcUserDetailsManager">
		<property name="dataSource" ref="webDS" />
		<property name="authenticationManager" ref="blAuthenticationManager" />
		<property name="enableGroups" value="false" />
		<property name="enableAuthorities" value="true" />
		<property name="usersByUsernameQuery"
			value="SELECT login AS username, password, 'true' as enabled FROM BLC_ADMIN_USER 
		WHERE login = ?" />
		<property name="authoritiesByUsernameQuery"
			value="SELECT 
		DISTINCT au.login AS username, ap.name AS authority FROM BLC_ADMIN_USER au 
		JOIN BLC_ADMIN_USER_ROLE_XREF aurx ON au.admin_user_id = aurx.admin_user_id 
		JOIN BLC_ADMIN_ROLE ar ON aurx.admin_role_id = ar.admin_role_id JOIN BLC_ADMIN_ROLE_PERMISSION_XREF 
		arpx ON ar.admin_role_id = arpx.admin_role_id JOIN BLC_ADMIN_PERMISSION ap 
		ON arpx.admin_permission_id = ap.admin_permission_id WHERE au.login = ?" />
	</bean>

</beans>