<html>
  <head><title>Password Reset</title></head>
  <body background="#FFFFFF">

    Your password has been reset. Your new password is:<br><br>
    
    <b>${customerPasswordTemplateVariable}</b>

  </body>
</html>