.interactImageHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    border:1px solid #808080;
    padding:5px;
    background-color:#b8d0ff;
    color:black;
}

.editRowDisabled {
	background-color: #f3f3f3;	
}