<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="blPersistenceUnitManager"
          class="org.broadleafcommerce.extensibility.jpa.MergePersistenceUnitManager">
        <property name="persistenceXmlLocations">
            <list>
                <value>classpath*:/META-INF/persistence-container.xml</value>
            </list>
        </property>
        <property name="dataSources">
            <map>
                <entry key="jdbc/web" value-ref="blDS"/>
                <entry key="jdbc/webSecure" value-ref="blDS"/>
            </map>
        </property>
        <property name="defaultDataSource" ref="blDS"/>
    </bean>
    
    <bean id="blDS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="@@MYSQL_URL@@" />
		<property name="username" value="@@MYSQL_USERNAME@@" />
		<property name="password" value="@@MYSQL_PASSWORD@@" />
	</bean>
	
	
	<!--
	<bean id="customerStateAOP" class="org.broadleafcommerce.profile.aop.test.CustomerStateAOP"/>

    <aop:config>
        <aop:aspect id="customerAspect" ref="customerStateAOP">
            <aop:pointcut id="customerRetrievalMethod" expression="execution(* org.broadleafcommerce.profile.web.CustomerState.getCustomer(javax.servlet.http.HttpServletRequest))"/>
            <aop:around method="processCustomerRetrieval" pointcut-ref="customerRetrievalMethod"/>
        </aop:aspect>
    </aop:config>
    -->
	
</beans>