<div th:if="${field instanceof T(org.broadleafcommerce.openadmin.web.form.entity.ComboField)}">
    <div class="field-label" th:text="#{${field.friendlyName}}" />

    <select class="six" th:field="*{fields['__${field.name}__'].value}" th:if="${! #maps.isEmpty(field.options)}">
        <option value="">Select an option...</option>
        <option th:each="entry : *{fields['__${field.name}__'].options}"
                th:value="${entry.key}"
                th:text="${entry.value}" />
    </select>
                
    <span th:if="${#maps.isEmpty(field.options)}" class="indented-form-value">
        &lt;No values found for this enumeration&gt;
    </span>

</div>

<div th:unless="${field instanceof T(org.broadleafcommerce.openadmin.web.form.entity.ComboField)}"
    class="additional-foreign-key-container twelve">
    <input type="hidden" class="display-value-property" th:value="*{fields['__${field.name}__'].foreignKeyDisplayValueProperty}"  />
    <input type="hidden" class="value" th:field="*{fields['__${field.name}__'].value}" th:attr="data-onchangetrigger=${field.onChangeTrigger}" />
    
    <label th:for="${field.name}" th:text="#{${field.friendlyName}}" />
    
    <div class="foreign-key-value-container">
        <span class="display-value-none-selected" style="display: none;">&lt;No value selected&gt;</span>
        <span
            class="display-value read-only"
            th:attr="data-select-url=@{${'/' + sectionKey + '/' + field.name + '/select'}}"
            th:text="*{fields['__${field.name}__'].displayValue}" />
            
        <button class="clear-foreign-key tiny radius secondary button hover-cursor"
            type="button"
            th:style="*{#strings.isEmpty(fields['__${field.name}__'].value) ? 'display:none' : ''}"
            th:attr="data-select-url=@{${'/' + sectionKey + '/' + field.name + '/select'}}">
            <i class="icon-remove"></i>&nbsp;Clear
        </button>
        
        <button class="to-one-lookup tiny radius secondary button hover-cursor"
            type="button"
            th:attr="data-select-url=@{${'/' + sectionKey + '/' + field.name + '/select'}}">
            <i class="icon-search"></i>&nbsp;Lookup
        </button>

        <span th:if="${field.canLinkToExternalEntity}" th:remove="tag">
           <a th:href="@{${'/' + field.entityViewPath}}" class="modal-view">
                <i class="icon-external-link"></i>
           </a>
        </span>
    </div>
</div>