<div class="additional-foreign-key-container twelve">
    <input type="hidden" class="display-value-property" th:value="*{fields['__${field.name}__'].foreignKeyDisplayValueProperty}"  />
    <input type="hidden" class="value" th:field="*{fields['__${field.name}__'].value}" th:attr="data-onchangetrigger=${field.onChangeTrigger}" />
    
    <label th:for="${field.name}" th:text="#{${field.friendlyName}}" />
    
    <div class="foreign-key-value-container">
        <span
            class="display-value read-only"
            th:attr="data-select-url=@{${'/' + sectionKey + '/' + field.name + '/select'}}"
            th:text="*{fields['__${field.name}__'].displayValue}" />
            
        <button class="clear-foreign-key tiny radius secondary button hover-cursor"
            th:style="*{#strings.isEmpty(fields['__${field.name}__'].value) ? 'display:none' : ''}"
            th:attr="data-select-url=@{${'/' + sectionKey + '/' + field.name + '/select'}}">
            <i class="icon-remove"></i>&nbsp;Clear
        </button>
        
        <button class="to-one-lookup tiny radius secondary button hover-cursor"
            th:attr="data-select-url=@{${'/' + sectionKey + '/' + field.name + '/select'}}">
            <i class="icon-search"></i>&nbsp;Lookup
        </button>
        
    </div>
</div>