<div class="field-label" th:text="#{asset_url_image_label}" />
<div th:substituteby="components/fieldTooltip" />

<img class="thumbnail" 
    th:if="*{fields['__${field.name}__'].value != null}"
    blc:src="@{${cmsUrlPrefix} + *{fields['__${field.name}__'].value} + '?largeAdminThumbnail'}"
    th:attr="data-fullurl=@{${cmsUrlPrefix} + *{fields['__${field.name}__'].value}}" />
    
<img class="thumbnail" 
    th:unless="*{fields['__${field.name}__'].value != null}" />
    
<div class="field-label" th:text="#{${field.friendlyName}}" th:classappend="${field.required ? 'required' : ''}" />
<span class="error" th:errors="*{fields['__${field.name}__'].value}" />
<div class="twelve" style="margin-left: 20px; margin-bottom: 10px;">
   <span th:text="*{fields['__${field.name}__'].displayValue}"/>
   <input type="hidden" th:field="*{fields['__${field.name}__'].value}" />
</div>  
