<div class="asset-container"
     th:with="assetAssociationId=${entityForm.id==null? entityForm.parentId : entityForm.id}">

    <div class="media-image-container" th:classappend="${field.readOnly}? 'disabled'">
        <div class="media-image">
            <span th:if="*{fields['__${field.name}__'].value != null and fields['__${field.name}__'].value != ''}" >
                <img class="thumbnail"
                     th:if="*{fields['__${field.name}__'].value != null}"
                     th:with="cmsUrlPrefix=${#strings.defaultString('/' + cmsUrlPrefix, '')}"
                     blc:src="@{${cmsUrlPrefix} + *{fields['__${field.name}__'].value}}"
                     th:attr="data-fullurl=@{${cmsUrlPrefix} + *{fields['__${field.name}__'].value}}" />
                <img class="thumbnail"
                     th:unless="*{fields['__${field.name}__'].value != null}" />
            </span>
        </div>
    </div>

    <br />
    <label th:for="*{fields['__${field.name}__'].value}" th:classappend="${field.required ? 'required' : ''}" >
        <span th:utext="#{${field.friendlyName}}"></span>
<span th:replace="components/fieldTooltip" ></span>
    </label>
    <input type="text" disabled="disabled"
           th:field="*{fields['__${field.name}__'].value}"/>
    <input type="hidden" th:field="*{fields['__${field.name}__'].value}" />

    <span class="error" th:errors="*{fields['__${field.name}__'].value}" ></span>
</div>

