<div class="row associated-fields">
    <div th:if="${field.name}"
         th:class="'col6 field-group' + ${(field.isDirty ? ' dirty' : '')} + ${(field.disabled ? ' disabled' : '')} + ${(#fields.hasErrors('fields[__${field.name}__].value') ? ' has-error' : '')}"
         blc_admin:component_id="${field}"
         th:classappend="${!field.isVisible}? 'hidden'">
        <div th:replace="${'fields/' + #strings.toLowerCase(field.fieldType)}"></div>
    </div>

    <th:block th:with="associatedFieldName=${field.associatedFieldName}">
        <div th:class="'col6 field-group' + ${(field.isDirty ? ' dirty' : '')} + ${(field.disabled ? ' disabled' : '')} + ${(#fields.hasErrors('fields[__${field.name}__].value') ? ' has-error' : '')}"
             th:classappend="${!field.isVisible}? 'hidden'"
             blc_admin:component_id="${field}"
             th:unless="*{fields['__${associatedFieldName}__']} == null"
             th:with="field=*{fields['__${associatedFieldName}__']}">
            <div th:replace="${'fields/' + #strings.toLowerCase(field.fieldType)}"></div>
        </div>
    </th:block>
</div>