<div class="field-label inline" th:text="#{${field.friendlyName}}" th:classappend="${field.required ? 'required' : ''}" />
<div th:substituteby="components/fieldTooltip" />
<span class="error" th:errors="*{fields['__${field.name}__'].value}" />

<div class="custom-checkbox">
    <label th:for="${field.name + '-true'}" th:inline="text" style="font-weight: 400; display: inline-block; width: 60px;">
        <input type="radio" th:id="${field.name + '-true'}" th:value="${true}" th:field="*{fields['__${field.name}__'].value}" /> 
        <span style="margin-right: 10px;" th:text="#{Yes}" />
    </label>
        
    <label th:for="${field.name + '-false'}" th:inline="text" style="font-weight: 400; display: inline-block;">
        <input type="radio" th:id="${field.name + '-false'}" th:value="${false}" th:field="*{fields['__${field.name}__'].value}" />
        <span style="margin-right: 10px;" th:text="#{No}" />
    </label>
</div>