<label th:for="*{fields['__${field.name}__'].value}" th:classappend="${field.required ? 'required' : ''}" >
    <span th:utext="#{${field.friendlyName}}"></span>
<span th:replace="components/fieldTooltip" ></span>
</label>
<div th:replace="components/fieldTranslation" ></div>

<div class="twelve indented-form-value">
    <textarea class="autosize" style="width: 100%;"
        th:disabled="${field.readOnly}"
        th:field="*{fields['__${field.name}__'].value}"
        th:placeholder="${field.hint}" ></textarea>
</div>

<span class="error" th:errors="*{fields['__${field.name}__'].value}" ></span>
