<label th:for="*{fields['__${field.name}__'].value}" th:classappend="${field.required ? 'required' : ''}" >
    <span th:utext="#{${field.friendlyName}}"></span>
<span th:replace="components/fieldTooltip" ></span>
</label>

<th:block>
    <select class="six" th:field="*{fields['__${field.name}__'].value}" th:disabled="${field.readOnly}">
        <option th:each="entry : *{fields['__${field.name}__'].options}"
                th:value="${entry.key}"
                th:text="#{${entry.value}}" ></option>
    </select>
</th:block>

<span class="error" th:errors="*{fields['__${field.name}__'].value}" ></span>
