<div class="field-label" th:text="#{${field.friendlyName}}" />

<select class="six" th:field="*{fields['__${field.name}__'].value}" th:if="${! #maps.isEmpty(field.options)}">
    <option value="" th:text="#{Default_Select}" />
    <option th:each="entry : *{fields['__${field.name}__'].options}"
            th:value="${entry.key}"
            th:text="${entry.value}" />
</select>
            
<span th:if="${#maps.isEmpty(field.options)}" class="indented-form-value" th:inline="text">
    &lt;[[#{No_Records_Found_Enum}]]&gt;
</span>
