<label th:for="*{fields['__${field.name}__'].value}" th:classappend="${field.required ? 'required' : ''}" >
    <span th:utext="#{${field.friendlyName}}"></span>
<span th:replace="components/fieldTooltip" ></span>
</label>
<div th:replace="components/fieldTranslation" ></div>

<div class="redactor-field"
     th:with="assetAssociationId=${entityForm.id==null? entityForm.parentId : entityForm.id}">

    <textarea th:class="${'redactor' + (field.readOnly? '-disable' : '') + ' ' + (field.readOnly and field.isLargeEntry? 'large-disabled' : '')}"
              name="content"
              th:disabled="${field.readOnly}"
              th:if="${overrideAssetSectionKey}"
              th:attr="data-select-asset-url=@{${'/'+overrideAssetSectionKey+ '/' + assetAssociationId + '/chooseAsset'}}"
              th:field="*{fields['__${field.name}__'].value}"></textarea>

    <textarea th:class="${'redactor' + (field.readOnly? '-disable' : '') + ' ' + (field.readOnly and field.isLargeEntry? 'large-disabled' : '')}"
              name="content"
              th:disabled="${field.readOnly}"
              th:unless="${overrideAssetSectionKey}"
              th:attr="data-select-asset-url=@{${'/'+sectionKey+ '/' + assetAssociationId + '/chooseAsset'}}"
              th:field="*{fields['__${field.name}__'].value}"></textarea>

</div>

<span class="error" th:errors="*{fields['__${field.name}__'].value}" ></span>
