<label th:for="*{fields['__${field.name}__'].value}" th:classappend="${field.required ? 'required' : ''}" >
    <span th:text="#{${field.friendlyName}}"/><span th:substituteby="components/fieldTooltip" />
</label>
<div th:substituteby="components/fieldTranslation" />
<span class="error" th:errors="*{fields['__${field.name}__'].value}" />

<div class="redactor-field"
     th:with="assetAssociationId=${entityForm.id==null? entityForm.parentId : entityForm.id}">

    <textarea class="redactor" name="content"
              th:if="${overrideAssetSectionKey}"
              th:attr="data-select-asset-url=@{${'/'+overrideAssetSectionKey+ '/' + assetAssociationId + '/chooseAsset'}}"
              th:field="*{fields['__${field.name}__'].value}"/>

    <textarea class="redactor" name="content"
              th:unless="${overrideAssetSectionKey}"
              th:attr="data-select-asset-url=@{${'/'+sectionKey+ '/' + assetAssociationId + '/chooseAsset'}}"
              th:field="*{fields['__${field.name}__'].value}"/>

</div>