<div class="field-label inline" th:text="#{${field.friendlyName}}" th:classappend="${field.required ? 'required' : ''}" />
<div th:substituteby="components/fieldTooltip" />
<div th:substituteby="components/fieldTranslation" />
<span class="error" th:errors="*{fields['__${field.name}__'].value}" />

<div class="twelve indented-form-value"
     th:with="assetAssociationId=${entityForm.id==null? entityForm.parentId : entityForm.id}">

<textarea class="redactor" name="content"
              th:if="${overrideAssetSectionKey}"
              th:attr="data-select-asset-url=@{${'/'+overrideAssetSectionKey+ '/' + assetAssociationId + '/chooseAsset'}}"
              th:field="*{fields['__${field.name}__'].value}"/>

    <textarea class="redactor" name="content"
              th:unless="${overrideAssetSectionKey}"
              th:attr="data-select-asset-url=@{${'/'+sectionKey+ '/' + assetAssociationId + '/chooseAsset'}}"
              th:field="*{fields['__${field.name}__'].value}"/>
</div>