<div class="asset-selector-container">  
    <div class="field-label" th:text="#{${field.friendlyName}}" th:classappend="${field.required ? 'required' : ''}" />
    <input type="hidden" class="mediaItem" th:field="*{fields['__${field.name}__'].value}" />
    
    <a th:if="*{fields['__${field.name}__'].media != null and !#strings.isEmpty(fields['__${field.name}__'].media.url)}"
       th:href="@{*{fields['__${field.name}__'].media.url}}" target="_blank">
        <img class="thumbnail"
            th:src="@{*{fields['__${field.name}__'].media.url + '?largeAdminThumbnail'}}" />
    </a>
    
    <a th:unless="*{fields['__${field.name}__'].media != null and !#strings.isEmpty(fields['__${field.name}__'].media.url)}">
        <img class="thumbnail placeholder-image" th:src="@{/img/admin/placeholder-60x60.gif}" />
    </a>

    <button class="show-asset-selector tiny radius secondary button hover-cursor"
        type="button" th:inline="text"
        th:if="${overrideAssetSectionKey}"
        th:attr="data-select-url=@{${'/'+overrideAssetSectionKey+ '/' + entityForm.id + '/chooseAsset'}}">
        <i class="icon-camera"></i>&nbsp;[[#{Select_Upload_Image}]]
    </button>

    <button class="show-asset-selector tiny radius secondary button hover-cursor"
        type="button" th:inline="text"
        th:unless="${overrideAssetSectionKey}"
        th:attr="data-select-url=@{${'/'+sectionKey+ '/' + entityForm.id + '/chooseAsset'}}">
        <i class="icon-camera"></i>&nbsp;[[#{Select_Upload_Image}]]
    </button>

    <span class="error" th:errors="*{fields['__${field.name}__'].value}" />
</div>