<div class="asset-selector-container">  
    <div class="field-label" th:text="#{${field.friendlyName}}" />
    <input type="hidden" class="mediaItem" th:field="*{fields['__${field.name}__'].value}" />
    
    <div class="mediaContainer" style="float:left; padding-right:30px">
        <img class="assetSmallUrl" th:src="*{fields['__${field.name}__'].media.url}"/>
        <p style="text-align:right">
            <a class="show-asset-selector tiny button" th:href="@{${'/'+sectionKey+ '/' + entityForm.id + '/chooseAsset'}}">
                Choose            
            </a>
        </p>
    </div>
    <br style="clear:both" />
</div>

