<label th:for="*{fields['__${field.name}__'].value}" th:classappend="${field.required ? 'required' : ''}" >
    <span th:utext="#{${field.friendlyName}}"></span>
<span th:replace="components/fieldTooltip" ></span>
</label>
<div class="changes" th:classappend="${group.column == 0} ? 'numeric-field'">
    <input type="text" step=".01"
           th:disabled="${field.readOnly}"
           th:classappend="${group.column == 0} ? 'numeric-field'"
           th:field="*{fields['__${field.name}__'].value}"
           th:value="${#blc.getPrice('__${field.value}__')}"/>
</div>

<span class="error" th:errors="*{fields['__${field.name}__'].value}" ></span>
