<div class="field-label" th:text="#{${field.friendlyName}}" />
<div class="twelve" style="margin-left: 20px; margin-bottom: 10px;" th:switch="*{fields['__${field.name}__'].fieldType}">

    <span th:case="'MEDIA'" th:remove="tag">
        <a th:if="*{fields['__${field.name}__'].media != null}"
           th:href="@{*{fields['__${field.name}__'].media.url}}" target="_blank">
            <img class="thumbnail"
                th:src="@{*{fields['__${field.name}__'].media.url + '?largeAdminThumbnail'}}" />
        </a>
    </span>
    
    <span th:case="*" th:remove="tag">
        <span th:text="*{fields['__${field.name}__'].displayValue}"/>
        <span th:style="${!field.canLinkToExternalEntity or #strings.isEmpty(field.value)}? 'display: none;'">
           <a th:href="@{${'/' + field.entityViewPath}}" class="modal-view">
                <i class="icon-external-link"></i>
           </a>
        </span>
    </span>
    
</div>