<label th:for="*{fields['__${field.name}__'].value}" th:classappend="${field.required ? 'required' : ''}" >
    <span th:text="#{${field.friendlyName}}"/><span th:substituteby="components/fieldTooltip" />
</label>
<div class="twelve" style="margin-left: 20px; margin-bottom: 10px;" th:switch="*{fields['__${field.name}__'].fieldType}">

    <span th:case="'MEDIA'" th:remove="tag">
        <a th:if="*{fields['__${field.name}__'].media != null and fields['__${field.name}__'].media.url != null and !#strings.isEmpty(fields['__${field.name}__'].media.url)}"
            th:href="@{*{fields['__${field.name}__'].media.url}}" target="_blank">
            <img class="thumbnail"
                blc:src="@{*{fields['__${field.name}__'].media.url + '?largeAdminThumbnail'}}" />
        </a>
        <input type="hidden" th:field="*{fields['__${field.name}__'].value}" />
    </span>

    <span th:case="'ADDITIONAL_FOREIGN_KEY'" th:remove="tag">
        <span th:text="*{fields['__${field.name}__'].displayValue}"/>
        <input type="hidden" class="display-value-property" th:value="*{fields['__${field.name}__'].foreignKeyDisplayValueProperty}"  />
        <input type="hidden" class="value" th:field="*{fields['__${field.name}__'].value}" th:attr="data-onchangetrigger=${field.onChangeTrigger}" />
        <input type="hidden" class="hidden-display-value" th:field="*{fields['__${field.name}__'].displayValue}" />
    </span>

    <span th:case="*" th:remove="tag">
        <span th:text="*{fields['__${field.name}__'].displayValue}"/>
        <input type="hidden" th:field="*{fields['__${field.name}__'].value}" />
    </span>
    
</div>
