<div class="breadcrumb-container">
    <ul class="breadcrumbs" th:if="${currentAdminModule}">
        <li>
            <span th:text="#{${currentAdminModule.moduleKey}}" />
        </li>
        <li>
            <a blc_admin:admin_section_href="${currentAdminSection}" th:inline="text">
                [[#{${currentAdminSection.sectionKey}}]]
            </a>
        </li>
        <li th:if="${entityForm}">
            <span th:text="${entityForm.mainEntityName}" />
        </li>
    </ul>

    <ul class="breadcrumbs" th:unless="${currentAdminModule}">
        <li>
            <span th:text="#{breadcrumb.unavailable}" />
        </li>
    </ul>

    <div th:if="${entityForm}" class="entity-form-actions">
    	<th:block th:each="action : ${entityForm.actions}">
	       	<th:block th:if="${(#strings.contains(action.buttonClass, 'reject') or #strings.contains(action.buttonClass, 'approve')) and #strings.contains(sectionKey, 'workflow/approvals')}">
		        <button sec:authorize="hasRole('PERMISSION_ALL_APPROVER_SANDBOX')"
		            class="small button radius dark" 
		            th:attr="data-url=@{${(#strings.isEmpty(action.urlOverride)) ? ('/' + sectionKey + action.urlPostfix) : action.urlOverride}},
		                     data-action=${action.urlPostfix}"
		            th:type="${action.buttonType}"
		            th:classappend="${action.buttonClass}">
		            <i th:class="${action.iconClass}"></i>&nbsp;<span th:text="#{${action.displayText}}" th:remove="tag" />
		        </button>  
	        </th:block>  
  	       	<th:block th:unless="${(#strings.contains(action.buttonClass, 'reject') or #strings.contains(action.buttonClass, 'approve')) and #strings.contains(sectionKey, 'workflow/approvals')}">
		        <button class="small button radius dark" 
		            th:attr="data-url=@{${(#strings.isEmpty(action.urlOverride)) ? ('/' + sectionKey + action.urlPostfix) : action.urlOverride}},
		                     data-action=${action.urlPostfix}"
		            th:type="${action.buttonType}"
		            th:classappend="${action.buttonClass}">
		            <i th:class="${action.iconClass}"></i>&nbsp;<span th:text="#{${action.displayText}}" th:remove="tag" />
		        </button>  
	        </th:block>              
        </th:block>
        <img th:src="@{/img/admin/ajax-loader.gif}" class="ajax-loader" />   
    </div>

    <div class="clear"></div>
</div>