<div class="breadcrumb-container">
    <ul class="breadcrumbs">
        <li>
            <span th:text="#{${currentAdminModule.moduleKey}}" />
        </li>
        <li>
            <a blc_admin:admin_section_href="${currentAdminSection}" th:inline="text">
                [[#{${currentAdminSection.sectionKey}}]]
            </a>
        </li>
        <li th:if="${entityForm}">
            <span th:text="${entityForm.mainEntityName}" />
        </li>
    </ul>
    <div th:if="${entityForm}" class="entity-form-actions">
        <button th:each="action : ${entityForm.actions}" 
            class="small button radius dark" 
            th:type="${action.buttonType}"
            th:classappend="${action.buttonClass}">
            <i th:class="${action.iconClass}"></i>&nbsp;<span th:text="#{${action.displayText}}" th:remove="tag" />
        </button>
    </div>

    <div class="clear"></div>
</div>