<footer>
    
    <blc:bundle name="lib.js" 
                mapping-prefix="/js/"
                files="admin/lib/jquery-1.9.1.js,
                       admin/lib/plugins/jquery.cookie.js,
                       admin/lib/plugins/jquery.event.move.js,
                       admin/lib/plugins/jquery.event.swipe.js,
                       admin/lib/plugins/jquery.foundation.accordion.js,
                       admin/lib/plugins/jquery.foundation.alerts.js,
                       admin/lib/plugins/jquery.foundation.buttons.js,
                       admin/lib/plugins/jquery.foundation.clearing.js,
                       admin/lib/plugins/jquery.foundation.joyride.js,
                       admin/lib/plugins/jquery.foundation.magellan.js,
                       admin/lib/plugins/jquery.foundation.mediaQueryToggle.js,
                       admin/lib/plugins/jquery.foundation.navigation.js,
                       admin/lib/plugins/jquery.foundation.orbit.js,
                       admin/lib/plugins/jquery.foundation.tabs.js,
                       admin/lib/plugins/jquery.foundation.tooltips.js,
                       admin/lib/plugins/jquery.foundation.topbar.js,
                       admin/lib/plugins/jquery.placeholder.js,
                       admin/lib/plugins/jquery.mousewheel.js,
                       admin/lib/plugins/jquery.mCustomScrollbar.js,
                       admin/lib/plugins/jquery.ba-dotimeout.js,
                       admin/lib/plugins/jquery-ui-1.10.2.custom.js,
                       admin/lib/plugins/jquery-ui-timepicker-addon.js,
                       admin/lib/plugins/jquery.iframe-transport.js,
                       admin/lib/plugins/jquery.ui.widget.js,
                       admin/lib/redactor.js,
                       admin/lib/plugins/bootstrap.js,
                       admin/lib/blc-conditions-builder.js" />
                      
    <blc:bundle name="admin.js" 
                mapping-prefix="/js/"
                files="BLC.js,
                       admin/blc-admin.js,
                       admin/blc-admin-history.js,
                      
                       admin/ui/dates.js,
                       admin/ui/messages_en.js,
                       admin/ui/accordion.js,
                       admin/ui/modal.js,
                       admin/ui/imagezoom.js,
                      
                       admin/components/entityForm.js,
                       admin/components/translations.js,

                       admin/components/assetSelector.js,
                      
                       admin/components/ruleBuilder-operators.js,
                       admin/components/ruleBuilder.js,
                      
                       admin/components/listGrid.js,
                       admin/components/listGrid-filter.js,
                       admin/components/listGrid-paginate.js,
                      
                       admin/blc-admin-init.js" />
                          
    <!-- TODO: REMOVE ME -->
    <!-- This is a temporary fix. These javascript files are actually in the admin project, of which open admin has no
        dependency on. This should eventually be moved into a JAWR bundle or referenced somewhere in a Thymeleaf Processor
        once we figure out exactly how clients and other modules can contribute their own js/css files to the admin -->
    <script type="text/javascript" th:src="@{/js/admin/catalog/product.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/catalog/offer.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/catalog/category.js}"></script>
    
    <!-- Dynamic resources (cannot be minified) -->
    <script type="text/javascript" th:src="@{/js/admin/components/ruleBuilder-options.js}"></script>
    
</footer>
