<footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script th:inline="text">
        //<![CDATA[
        window.jQuery || document.write('<script src="[[@{/js/lib/jquery-1.9.1.js}]]"><\/script>');
        //]]>
    </script>

    <blc_admin:admin_user resultVar="adminUser" />
    <script th:with="adminUser=${adminUser}" th:inline="javascript">
        var BLC_USER_PREFS = /*[[${adminUser.flatAdditionalFields}]]*/ {};
    </script>
    
    <blc:bundle name="adminlib.js" 
                mapping-prefix="/js/"
                files="admin/lib/plugins/jquery.cookie.js,
                       admin/lib/plugins/jquery.event.move.js,
                       admin/lib/plugins/jquery.event.swipe.js,
                       admin/lib/plugins/jquery.foundation.accordion.js,
                       admin/lib/plugins/jquery.foundation.alerts.js,
                       admin/lib/plugins/jquery.foundation.buttons.js,
                       admin/lib/plugins/jquery.foundation.clearing.js,
                       admin/lib/plugins/jquery.foundation.joyride.js,
                       admin/lib/plugins/jquery.foundation.magellan.js,
                       admin/lib/plugins/jquery.foundation.mediaQueryToggle.js,
                       admin/lib/plugins/jquery.foundation.navigation.js,
                       admin/lib/plugins/jquery.foundation.orbit.js,
                       admin/lib/plugins/jquery.foundation.tabs.js,
                       admin/lib/plugins/jquery.foundation.tooltips.js,
                       admin/lib/plugins/jquery.foundation.topbar.js,
                       admin/lib/plugins/jquery.placeholder.js,
                       admin/lib/plugins/jquery.mousewheel.js,
                       admin/lib/plugins/jquery.mCustomScrollbar.js,
                       admin/lib/plugins/jquery.ba-dotimeout.js,
                       lib/plugins/jquery-ui-1.10.2.custom.js,
                       lib/plugins/jquery-ui-timepicker-addon.js,
                       admin/lib/plugins/jquery.iframe-transport.js,
                       admin/lib/plugins/jquery.ui.widget.js,
                       admin/lib/plugins/jquery.autosize.js,
                       admin/lib/plugins/spectrum.js,
                       admin/lib/plugins/fontfamily.js,
                       admin/lib/plugins/fontcolor.js,
                       admin/lib/plugins/fontsize.js,
                       admin/lib/plugins/selectasset.js,
                       admin/lib/redactor.js,
                       admin/lib/plugins/bootstrap.js,
                       admin/lib/blc-conditions-builder.js,
                       admin/lib/plugins/typeahead.bundle.js" />
                      
    <blc:bundle name="admin.js" 
                mapping-prefix="/js/"
                files="BLC.js,
                       blc-dates.js,
                       admin/blc-admin.js,
                       admin/blc-admin-history.js,
                       admin/blc-admin-breadcrumb.js,
                      
                       admin/ui/dates.js,
                       admin/ui/messages_en.js,
                       admin/ui/accordion.js,
                       admin/ui/modal.js,
                       admin/ui/imagezoom.js,
                      
                       admin/components/entityForm.js,
                       admin/components/translations.js,
                       admin/components/assetSelector.js,
                       admin/components/ruleBuilder-operators.js,
                       admin/components/ruleBuilder-options.js,
                       admin/components/ruleBuilder.js,
                       admin/components/listGrid.js,
                       admin/components/listGrid-filter.js,
                       admin/components/listGrid-paginate.js,
                       admin/components/typeahead.js" />
                      
    <blc:bundle name="admin-init.js" 
                mapping-prefix="/js/"
                files="admin/blc-admin-init.js" />

</footer>
