<footer>
    
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/bootstrap.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.event.move.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.event.swipe.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.accordion.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.alerts.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.buttons.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.clearing.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.forms.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.joyride.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.magellan.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.mediaQueryToggle.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.navigation.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.orbit.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.tabs.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.tooltips.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.foundation.topbar.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.offcanvas.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery.placeholder.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery-ui-1.10.2.custom.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/lib/plugins/jquery-ui-timepicker-addon.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/BLC.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/blc-admin.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/admin/ui/blc-dates.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/ui/blc-accordion.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/ui/blc-listgrid.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/ui/entity-add.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/ui/responsive-tables.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/admin/blc-admin-init.js}"></script>
    
    <script type="text/javascript" th:src="@{/js/admin/components/conditions-builder-blc.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/components/entityForm.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/components/listGrid.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/components/modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/components/redactor.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin/components/ruleBuilder.js}"></script>
    
    <!-- TODO: REMOVE ME -->
    <!-- This is a temporary fix. These javascript files are actually in the admin project, of which open admin has no
        dependency on. This should eventually be moved into a JAWR bundle or referenced somewhere in a Thymeleaf Processor
        once we figure out exactly how clients and other modules can contribute their own js/css files to the admin -->
    <script type="text/javascript" th:src="@{/js/admin/catalog.js}"></script>
    
</footer>

