<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Author" content="Broadleaf Commerce" />
    <meta name="viewport" content="width=device-width" />

    <title>Broadleaf Admin v3.0</title>

    <link rel="stylesheet" th:href="@{/css/admin/foundation.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/offcanvas.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/redactor.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/responsive-tables.css}" />
    <!--[if IE 7]>
    <link rel="stylesheet" th:href="@{/css/admin/font-awesome-ie7.min.css}" />
    <![endif]-->
    <link rel="stylesheet" th:href="@{/css/admin/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/jquery-ui-1.10.2.custom.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/jquery.mCustomScrollbar.css}" />
    
    <link rel="stylesheet" th:href="@{/css/admin/blc-admin.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/components.css}" />
    
    <script type="text/javascript" th:src="@{/js/admin/lib/modernizr.foundation.js}"></script>
    
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>