<div id="headerDetailedMsgContainer" class="eight columns centered" 
    th:if="${headerDetailedMsg}"
    th:classappend="${(headerDetailedMsg == null ? 'hidden' : '') + (headerDetailedMsgAlert ? 'alert' : '')}">

    <th:block th:unless="${headerDetailedMsgNoI18n}">
        <div id="headerDetailedMsgHeader" th:if="${headerDetailedMsgHeader}" th:text="#{${headerDetailedMsgHeader}}" ></div>
        <div id="headerDetailedMsgBody" th:if="${headerDetailedMsgBody}" th:utext="#{${headerDetailedMsgBody}}" ></div>
    </th:block>

    <th:block th:if="${headerDetailedMsgNoI18n}">
        <div id="headerDetailedMsgHeader" th:if="${headerDetailedMsgHeader}" th:text="${headerDetailedMsgHeader}" ></div>
        <div id="headerDetailedMsgBody" th:if="${headerDetailedMsgBody}" th:utext="${headerDetailedMsgBody}" ></div>
    </th:block>
</div>