<header class="header">

    <li th:substituteby="layout/partials/additionalHeaderMenu" />

    <div class="account-info">
        <blc_admin:admin_user resultVar="adminUser" />
        <ul>
            <li th:text="'Welcome ' + ${adminUser.name} + '!'" ></li>
        </ul>
        <!--<ul class="dropdown">-->
            <!--<li><a href="#" class="change-password" th:href="@{/changePassword}" th:text="#{header.password.change} + '...'" /></li>-->
        <!--</ul>-->

        <a class="button small logout" th:href="@{/adminLogout.htm}" th:utext="#{header.logout}" />

    </div> <!-- /account-info -->

    <!--<div id="lightbox">-->

        <!--<div id="expire-message" class="modal in">-->
            <!--<div id="expire-header" class="brand">-->
            <!--<div id="expire-header-message" th:text="#{header.session.expire}"></div>-->
            <!--</div>-->
            <!--<div id="expire-content">-->
                <!--<a id="stay-logged-in" class="expire-button button medium dark radius" href="#" th:text="#{header.stay.logged.in}"></a>-->
                <!--<a id="session-logout" class="expire-button button medium dark radius" th:href="@{/adminLogout.htm}" th:text="#{header.logout}"></a>-->
                <!--<div id="expire-text">-->

                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div  class="modal-backdrop"></div>-->
    <!--</div>-->

    <div th:substituteby="layout/partials/sandboxRibbon" />
</header>