<header class="top-bar">
    <div class="attached">

        <ul class="left">
            <li th:substituteby="layout/partials/additionalHeaderMenu" />
        </ul>

        <ul class="right">
            <li class="has-dropdown" th:inline="text">
                <blc_admin:admin_user resultVar="adminUser" />
                <a href="#">[[${adminUser.name}]]</a>
                <ul class="dropdown">
                    <li><a href="#" class="change-password" th:href="@{/changePassword}" th:text="#{header.password.change} + '...'" /></li>                   
                </ul>
            </li>

            <li class="logout">
                <a class="small button radius dark" th:href="@{/adminLogout.htm}" th:text="#{header.logout}" />
            </li>
        </ul>
        
        <div id="lightbox">
        
            <div id="expire-message" class="modal in">
                <div id="expire-header" class="brand">
                <div id="expire-header-message" th:text="#{header.session.expire}"></div>
                </div>
                <div id="expire-content">
                    <a id="stay-logged-in" class="expire-button button medium dark radius" href="#" th:text="#{header.stay.logged.in}"></a>
                    <a id="session-logout" class="expire-button button medium dark radius" th:href="@{/adminLogout.htm}" th:text="#{header.logout}"></a>
                    <div id="expire-text">
                
                    </div>
                </div>
            </div>
            <div  class="modal-backdrop"></div>
        </div>
    </div>
</header>