<header class="top-bar">
    <div class="attached">
        <div class="brand show-for-small hide-for-medium-up">
            <span><a th:href="@{/}"><img th:src="@{/img/admin/blc-logo-leaf.png}" /></a></span>
        </div>
        <div class="brand show-for-medium-up hide-for-small">
            <span><a th:href="@{/}"><img th:src="@{/img/admin/blc-logo-header.png}" /></a></span>
        </div>

        <ul class="right">
            <li class="has-dropdown" th:inline="text">
                <blc_admin:admin_user resultVar="adminUser" />
                <a href="#">[[${adminUser.name}]]</a>
                <ul class="dropdown">
                    <li><a href="#" th:href="@{/changePassword}" th:text="#{header.password.change} + '...'" /></li>                   
                </ul>
            </li>
            <li class="logout">
                <a class="small button radius dark" th:href="@{/adminLogout.htm}" th:text="#{header.logout}" />
            </li>
        </ul>
    </div>
</header>