<blc_admin:admin_module resultVar="adminMenu" ></blc_admin:admin_module>

<div class="side-nav">
    <ul>
        <li th:each="module : ${adminMenu.adminModules}" th:inline="text">
            <a th:class="${'nav-section ' + module.icon}" th:href="@{${'/overview'}}" th:if="${module.icon == 'blc-icon-blc-leaf'}"></a>
            <a th:class="${'nav-section ' + module.icon}" href="" th:attr="data-toggle=${'#' + module.moduleKey}"
               th:unless="${module.icon == 'blc-icon-blc-leaf'}"></a>
        </li>
    </ul>
</div>