<div class="sandbox-bar">
    <select name="sandbox-selector" id="sandboxes">
        <option value="1">Admin's Winter Sandbox</option>
        <option value="2">Admin's New Homepage Sandbox</option>
        <option value="3">Admin's Summer 2015 Sandbox</option>
        <option value="4">Admin's Father's Day Sandbox</option>
    </select>

    <div class="sandbox-actions">
        <button class="button"><a href="">View List of Changes</a></button>
        <button class="button"><a href="">Preview Sandbox</a></button>
    </div>
</div>