<div id="secondary-nav">
    <blc_admin:admin_module resultVar="adminMenu" />

    <!--<div class="secondary-nav" id="logo" th:classappend="${currentAdminModule != null and currentAdminModule.id == 'demoHome'}? 'active'">-->
        <!--<h2 th:id="logo">Demo Site</h2>-->
    <!--</div>-->

    <div class="secondary-nav" th:id="${module.icon}" th:each="module : ${adminMenu.adminModules}" th:inline="text"
        th:classappend="${currentAdminModule != null and currentAdminModule.id == module.id}? 'active'">

        <h2 th:id="${module.moduleKey}" th:text="#{__${module.moduleKey}__}"></h2>

        <ul class="nav-links">
            <li th:each="section : ${module.sections}"
                th:classappend="${(currentAdminSection != null) and (currentAdminSection.id == section.id) ? 'active' : ''}">
                <a blc_admin:admin_section_href="${section}">
                    [[#{${section.sectionKey}}]]
                </a>
            </li>
        </ul>
    </div>

    <div class="secondary-nav" id="nav-section-headers">
        <div th:each="module,i : ${adminMenu.adminModules}" th:inline="text" th:if="${i.index != 0}"
             th:id="${module.icon + '-header'}" class="section-header" th:style="'top:' +  ${(i.index * 80) + 10} + 'px;'">
            <h2 th:text="#{__${module.moduleKey}__}"></h2>
        </div>
    </div>
</div>
