<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <aop:config/>

    <!-- Scan Broadleaf defined web utility classes -->
    <context:component-scan base-package="org.broadleafcommerce.openadmin.web"/>

    <bean id="multipartResolver"
          class="org.broadleafcommerce.openadmin.server.service.artifact.upload.UploadMultipartResolver"/>

    <bean id="blUploadController"
          class="org.broadleafcommerce.openadmin.server.service.artifact.upload.UploadAddOrUpdateController">
        <property name="dynamicEntityRemoteService" ref="blDynamicEntityRemoteService"/>
        <property name="exploitProtectionService" ref="blExploitProtectionService"/>
    </bean>

    <bean id="blUploadCompletedView"
          class="org.broadleafcommerce.openadmin.server.service.artifact.upload.UploadCompletedView"/>

    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1"/>
    </bean>

<!--     <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/> -->
<!--     <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/> -->

<!--     <bean id="adminUrlMapping" class="org.broadleafcommerce.openadmin.security.CompatibleGWTSecuredHandler"> -->
<!--         <property name="mappings"> -->
<!--             <map> -->
<!--                 <entry key="/**/security.service" value-ref="blAdminSecurityRemoteService"/> -->
<!--                 <entry key="/**/dynamic.entity.service" value-ref="blDynamicEntityRemoteService"/> -->
<!--                 <entry key="/**/upload.progress.service" value-ref="blUploadRemoteService"/> -->
<!--                 <entry key="/**/utility.service" value-ref="blUtilityRemoteService"/> -->
<!--                 <entry key="/**/app.configuration.service" value-ref="blAppConfigurationRemoteService"/> -->
<!--                 <entry key="/**/blc_gwt_logging" value-ref="blLog4JRemoteGwtLoggingService"/> -->
<!--             </map> -->
<!--         </property> -->
<!--         <property name="serviceExporterFactory"> -->
<!--             <bean class="org.broadleafcommerce.openadmin.security.CompatibleGWTSecuredRPCServiceExporterFactory"/> -->
<!--         </property> -->
<!--     </bean> -->

    <bean id="blAdminDialect" class="org.broadleafcommerce.common.web.dialect.BLCAdminDialect">
        <property name="processors">
            <set>
                <ref bean="blAdminUserProcessor"/>
                <ref bean="blAdminComponentIdProcessor"/>
                <ref bean="blAdminListGridLinkProcessor"/>
                <ref bean="blAdminModuleProcessor"/>
                <ref bean="blAdminSectionHrefProcessor"/>
                <ref bean="blAdminRuleBuilderProcessor"/>
                <ref bean="blAdminFieldBuilderProcessor"/>
            </set>
        </property>
    </bean>

    <bean id="blAdminWebTemplateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <property name="prefix" value="/WEB-INF/templates/admin/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />
        <property name="cacheable" value="false"/>
        <property name="characterEncoding" value="UTF-8" />
    </bean>

    <bean id="blAdminWebTemplateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="templateResolvers">
            <set>
                <ref bean="blAdminWebTemplateResolver" />
            </set>
        </property>
        <property name="dialects">
            <set>
                <ref bean="thymeleafSpringStandardDialect" />
                <ref bean="blAdminDialect" />
                <ref bean="blDialect" />
            </set>
        </property>
    </bean>

    <bean id="blRuleBuilderFieldServiceFactory" class="org.broadleafcommerce.openadmin.web.rulebuilder.service.RuleBuilderFieldServiceFactory">
        <property name="fieldServices">
            <list>
                <ref bean="blOrderItemFieldService"/>
                <ref bean="blCustomerFieldService"/>
            </list>
        </property>
    </bean>

</beans>
