<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <aop:config/>

    <!-- Scan Broadleaf defined web utility classes -->
    <context:component-scan base-package="org.broadleafcommerce.openadmin.web"/>

    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
        <property name="order" value="1"/>
    </bean>
    
    <mvc:annotation-driven/>
    
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="useSuffixPatternMatch" value="false" />
    </bean>

    <context:component-scan base-package="org.broadleafcommerce.openadmin.web.controller" />

    <bean id="blAdminDialect" class="org.broadleafcommerce.common.web.dialect.BLCAdminDialect">
        <property name="processors">
            <set>
                <ref bean="blAdminUserProcessor"/>
                <ref bean="blAdminComponentIdProcessor"/>
                <ref bean="blAdminModuleProcessor"/>
                <ref bean="blAdminSectionHrefProcessor"/>
                <ref bean="blAdminFieldBuilderProcessor"/>
            </set>
        </property>
    </bean>
    
    <!-- This component should be overridden to provide templates outside of the WAR or CLASSPATH   -->    
    <bean id="blAdminWebCustomTemplateResolver" class="org.broadleafcommerce.common.web.NullBroadleafTemplateResolver" />
    
    <bean id="blAdminExceptionResolver" class="org.broadleafcommerce.openadmin.web.handler.AdminMappingExceptionResolver">
        <property name="showDebugMessage" value="${exception.showDebugMessage}" />
    </bean>

    <bean id="blAdminWebTemplateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <property name="prefix" value="/WEB-INF/templates/admin/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />
        <property name="cacheable" value="false"/>
        <property name="characterEncoding" value="UTF-8" />
        <property name="order" value="200"/>         
    </bean>
    
    <bean id="blAdminWebClasspathTemplateResolver" class="org.thymeleaf.templateresolver.ClassLoaderTemplateResolver">
        <property name="prefix" value="open_admin_style/templates/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />        
        <property name="characterEncoding" value="UTF-8" />
        <property name="cacheable" value="false"/>
        <property name="cacheTTLMs" value="300000" />
        <property name="order" value="300"/> 
    </bean>  

    <bean id="blAdminMessageResolver" class="org.broadleafcommerce.common.web.BroadleafThymeleafMessageResolver" />
                
    <bean id="blAdminWebTemplateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="messageResolvers">
            <set>
                <ref bean="blAdminMessageResolver" />
            </set>
        </property>
        <property name="templateResolvers">
            <set>
                <ref bean="blAdminWebCustomTemplateResolver" />
                <ref bean="blAdminWebTemplateResolver" />
                <ref bean="blAdminWebClasspathTemplateResolver" />
                <ref bean="blWebCommonClasspathTemplateResolver" />
            </set>
        </property>
        <property name="dialects">
            <set>
                <ref bean="thymeleafSpringStandardDialect" />
                <ref bean="blAdminDialect" />
                <ref bean="blDialect" />
            </set>
        </property>
        <property name="cacheManager"><null/></property>
    </bean>

</beans>
