
<div class="section-tabs" th:classappend="${renderTabs == false} ? empty-section-tabs">
    <div class="entity-errors"></div>
    <ul class="nav nav-tabs">
        <li class="active" role="presentation">
            <a href="#tab1" class="first-tab lookup select-tab">
                <span th:attr="data-tabkey=tab1Tab">Choose Existing Asset</span>
                <i class="fa-pulse fa fa-spinner" style="display: none;"></i>
            </a>
        </li>
        <li role="presentation">
            <a href="#tab2" class="lookup upload-tab">
                <span th:attr="data-tabkey=tab2Tab">Upload New Asset</span>
                <i class="fa-pulse fa fa-spinner" style="display: none;"></i>
            </a>
        </li>
    </ul>
</div>

<div class="content-yield">
    <div class="row">
        <div class="tabs-content" th:style="${verticalTabs}? 'margin-left: 250px;'">
            <div class="tab1Tab entityFormTab active" th:inline="text">
                <div class="col12">
                    <div class="row">
                        <div th:include="views/fullAssetGrid" th:remove="tag"></div>
                        <div th:include="components/listGridModalActions" th:with="listGrid=${assetGrid.assetListGrid}"></div>
                    </div>
                </div>
            </div>
            <div class="tab2Tab entityFormTab" th:inline="text">
                <!--<div class="col3"></div>-->
                <div class="col12">
                    <div class="row">
                        <div th:include="views/modal/staticAssetUpload" th:with="isLookup=${false}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>