<div th:if="${#lists.isEmpty(listGrid.records) and !isFilter} and !listGrid.promptSearch" class="content-yield" id="main">
    <div th:replace="components/emptyMainListGrid" />
</div>
<div th:unless="${#lists.isEmpty(listGrid.records) and !isFilter and !listGrid.promptSearch}" class="content-yield listgrid-container" id="main">
    <div th:include="${listGrid.searchFieldsTemplateOverride == null ? 'components/searchFields' : listGrid.searchFieldsTemplateOverride}" th:object="${listGrid}" th:remove="tag" />
    <!--<div th:include="components/listGridToolbar" th:object="${listGrid}" th:remove="tag" />-->
    <div th:include="components/listGrid" th:object="${listGrid}" th:remove="tag" />
</div>