<th:block th:if="${entityFormTemplatePath == null}">
    <blc:form th:remove="tag">
        <th:block th:include="components/entityForm"
             th:with="additionalTabClasses='entity-form',
                 showSingleTab='true',
                 inModal=${inModal != null and inModal}">
        </th:block>
    </blc:form>
</th:block>

<th:block th:unless="${entityFormTemplatePath == null}">
    <blc:form th:remove="tag">
        <th:block th:include="${entityFormTemplatePath}"
             th:with="additionalTabClasses='entity-form',
                 showSingleTab='true',
                 inModal=${inModal != null and inModal}">
        </th:block>
    </blc:form>
</th:block>