<th:block th:if="${entityFormTemplatePath == null}">
    <blc:form th:replace="components/entityForm"
        th:with="additionalTabClasses='entity-form',
                 showSingleTab='true',
                 inModal=${inModal != null and inModal}" ></blc:form>
</th:block>

<th:block th:unless="${entityFormTemplatePath == null}">
    <blc:form th:replace="${entityFormTemplatePath}"
        th:with="additionalTabClasses='entity-form',
                 showSingleTab='true',
                 inModal=${inModal != null and inModal}" ></blc:form>
</th:block>