body {
	background: #a98b69 url("/mycompany/images/coffeeTopTile.jpg") repeat-x top center;
	margin: 0;
	padding: 0;
	color: #666666;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
}  
