<web-app id="WebApp" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<context-param>
	     <param-name>contextConfigLocation</param-name>
	     <param-value>
	     	/WEB-INF/spring/source/applicationContext.xml
	     </param-value>
	</context-param>
	
	<context-param>
	     <param-name>patchConfigLocation</param-name>
	     <param-value>
	     	/WEB-INF/spring/patch/patch1.xml
	     	/WEB-INF/spring/patch/patch2.xml
	     </param-value>
	</context-param>

	<listener>
		 <listener-class>org.springcommerce.extensibility.web.MergeContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>DemoServlet</servlet-name>
		<servlet-class>
			org.springcommerce.demo.web.DemoServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

</web-app>

