<legend th:text="${group.title}" />

<comment th:remove="all">
    <!-- *** IMPORTANT *** -->
    <!-- When changing this block of code, make sure standaloneField.html is also updated -->
    <!-- *** IMPORTANT *** -->
</comment>
<div th:each="field : ${group.fields}"
     th:if="${field.name}"
     th:class="${'field-group' + (field.isDirty ? ' dirty' : '') + (field.disabled ? ' disabled' : '')}"
     blc_admin:component_id="${field}"
     th:classappend="${!field.isVisible}? 'hidden'">

    <div th:include="components/partials/entityFormFields" th:remove="tag"></div>
</div>