<html>
<head>
    <title>Password Change for $user.firstName</title>
</head>
<body bgcolor="#faf7f1">
<hr/>
Hello $user.firstName,
<br/>
This is just a test. Your password has been changed on our site<br/>
<br/>
#d()
<br/>
Our email address is <a href="mailto:${from}">$from</a></br>
<a href="www.credera.com"><img src="$baseurl/broadleafdemo/images/imgLogo.jpg" /></a>
</body>
</html>