.orderTitle {
	margin-bottom:5px;
	padding:2px 7px;
	background:#C3D9FF none repeat scroll 0 0;
}

.orderBorder {
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px;
	padding: 5px 5px 5px 5px;
	margin-top: 15px;
}

.orderTotals {
	font-weight: bold;
}